<template>
  <q-card class="profile-card">
    <div class="row">
      <div :style="customBackground" class="header col-12 flex">

        <div class="display: block">
          <div class="name">{{ getProfileName(profile.id) }}</div>
          <div class="title">{{ getExplorerTitle(profile.id) }}</div>
          <div>{{ profile.ship }}</div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 q-pr-xs">
        <!-- Stats -->
        <div class="stats">
          <div>[Move:] <span v-html="parseRichText(profile.move)"></span></div>
          <div>[Defence:] <span v-html="parseRichText(profile.defence)"></span></div>
          <div>[Agility:] <span v-html="parseRichText(profile.agility)"></span></div>
          <div>[Vitality:] <span v-html="parseRichText(profile.vitality)"></span></div>
        </div>
        <!-- Weapon actions -->
        <WeaponActionsTable :profile="profile" />
      </div>
      <div class="col-md-6 col-sm-12 q-pl-xs">
        <!-- Unique Actions -->
        <div v-if="profile.uniqueActions">
          <div class="section-title">[Unique actions]</div>
          <div v-for="uniqueAction in  profile.uniqueActions" :key="uniqueAction" class="q-mb-sm">
            <span style="font-weight: 500" v-html="parseRichText(getUniqueActionName(profile.id, uniqueAction))"></span>
            :
            <span v-html="parseRichText(getUniqueActionDescription(profile.id, uniqueAction))"></span>
          </div>
        </div>
        <!-- Special Rules -->
        <div v-if="profile.specialRules">
          <div class="section-title">[Special Rules]</div>
          <div v-for="specialRule in  profile.specialRules" :key=specialRule class="q-mb-sm">
            <span style="font-weight: 500" v-html="parseRichText(getSpecialRuleName(profile.id, specialRule))"></span>
            :
            <span v-html="parseRichText(getSpecialRuleDescription(profile.id, specialRule))"></span>
          </div>
        </div>
        <!-- Secret Agenda -->
        <div v-if="!profile.id.endsWith('__inspired') && getExplorerSecretAgenda(profile.id)">
          <div class="section-title">[Secret Agenda]</div>
          <div v-html="parseRichText(getExplorerSecretAgenda(profile.id))"></div>
        </div>
      </div>
    </div>

  </q-card>
</template>
<script setup>
import { getProfileName, getExplorerTitle, getExplorerArt, getExplorerSecretAgenda, getUniqueActionName, getUniqueActionDescription, getSpecialRuleName, getSpecialRuleDescription } from 'src/i18n';
import { parseRichText } from 'src/lib/rtf';
import { computed } from 'vue'
import { useCompendium } from 'src/stores/compendium'
import WeaponActionsTable from 'src/components/profiles/WeaponActionsTable.vue'
import { storeToRefs } from 'pinia';

const props = defineProps({ profile: Object })

const customBackground = computed(() => {
  const image = getExplorerArt(props.profile.id)

  const { styles } = storeToRefs(useCompendium());
  const style = styles.value?.explorerProfileHeaders?.[props.profile.id] ?? {}

  const backgroundColor = false ? '200, 240, 255' : '16, 29, 39'
  return { background: `linear-gradient(to right, rgba(${backgroundColor}, 255) 0, rgba(${backgroundColor}, 1) calc(100% - 250px), rgba(${backgroundColor}, 0) calc(100% - 100px)), url(${image}) top right no-repeat`, ...style }
})
</script>
<style lang="scss">
.profile-card {
  padding: 10px;
  outline: 1px solid black;

  .header {
    padding: 10px;
    color: white;
    height: 75px;
  }

  .stats {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background: #101d27;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

    img {
      height: 1.5rem;
    }
  }

  .section-title {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
  }

  .name {
    font-size: 1.2rem;
    line-height: 1.05rem;
    font-weight: 600;
  }

  .title {
    font-size: 0.8rem;
    font-style: italic;
  }
}
</style>
