<template>
  <q-card class="profile-card">
    <div class="row">
      <div :style="customBackground" class="header col-12 flex">
        <div class="display: block">
          <div class="name">{{ getProfileName(profile.id) }}</div>
          <div class="title" v-if="profile.title">{{ getExplorerTitle(profile.id) }}</div>
          <div>{{ profile.ship }}</div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 q-pr-md-xs">
        <!-- Stats -->
        <div class="stats">
          <div>[Move:] <span v-html="parseRichText(profile.move)"></span></div>
          <div>[Wounds:] <span v-html="parseRichText(profile.wounds)"></span></div>
          <div>[Size:] <span v-html="$t(`ui.profileSize.${parseRichText(profile.size)}`)"></span></div>
        </div>
        <!-- Weapon actions -->
        <WeaponActionsTable :profile="profile" />
        <!-- Special Rules -->
        <div v-if="profile.specialRules">
          <div class="section-title">[Special Rules]</div>
          <div v-for="specialRule in  profile.specialRules" :key=specialRule class="q-mb-sm">
            <span style="font-weight: 500" v-html="parseRichText(getSpecialRuleName(profile.id, specialRule))"></span>:
            <span v-html="parseRichText(getSpecialRuleDescription(profile.id, specialRule))"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 q-pl-md-xs">
        <div style="padding-top: 10px">
          <BehaviourTable :profile="profile" />
        </div>
        <!-- Unique Actions -->
        <div v-if="profile.uniqueBehaviours">
          <div class="section-title">[Unique actions]</div>
          <div v-for="uniqueBehaviour in  profile.uniqueBehaviours" :key=uniqueBehaviour class="q-mb-sm">
            <span style="font-weight: 500"
              v-html="parseRichText(getUniqueBehaviourName(profile.id, uniqueBehaviour))"></span>:
            <span v-html="parseRichText(getUniqueBehaviourDescription(profile.id, uniqueBehaviour))"></span>
          </div>
        </div>
      </div>
    </div>
  </q-card>
</template>
<script setup>
import { getProfileName, getExplorerTitle, getHostileArt, getSpecialRuleName, getSpecialRuleDescription, getUniqueBehaviourName, getUniqueBehaviourDescription } from 'src/i18n';
import { parseRichText } from 'src/lib/rtf';
import { computed } from 'vue'
import BehaviourTable from 'src/components/BehaviourTable.vue'
import WeaponActionsTable from 'src/components/profiles/WeaponActionsTable.vue';

const props = defineProps({ profile: Object })

const customBackground = computed(() => {
  const image = getHostileArt(props.profile.id)

  const backgroundColor = false ? '200, 240, 255' : '16, 29, 39'
  return { background: `linear-gradient(to right, rgba(${backgroundColor}, 255) 0, rgba(${backgroundColor}, 1) calc(100% - 250px), rgba(${backgroundColor}, 0) calc(100% - 100px)), url(${image}) top right no-repeat` }
})
</script>
<style lang="scss">
.profile-card {
  padding: 10px;
  outline: 1px solid black;

  .header {
    padding: 10px;
    color: white;
    height: 75px;
  }

  .stats {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background: #101d27;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

    img {
      height: 1.5rem;
    }
  }

  .weapon-actions {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #101d27;
    border-collapse: collapse;
    text-align: center;

    thead,
    th,
    td {
      border: 1px solid #101d27;
      padding: 6px;
    }

    thead {
      background: #101d27;
      color: white;
    }
  }

  .section-title {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
  }

  .name {
    font-size: 1.2rem;
    line-height: 1.05rem;
    font-weight: 600;
  }

  .title {
    font-size: 0.8rem;
    font-style: italic;
  }
}
</style>
