<template>
  <div>
    <table class="weapon-actions">
      <thead>
        <tr>
          <td colspan="4">[Weapon Actions]</td>
        </tr>
      </thead>
      <tr>
        <td rowspan="2" width="40%">[Weapon]</td>
        <td colspan="3">[Range]</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2-3</td>
        <td>4+</td>
      </tr>
      <tr v-for="weaponAction in profile.weaponActions" :key="weaponAction.id">
        <td><span v-html="parseRichText(getWeaponActionName(profile.id, weaponAction.id))"></span> <sup
            style="font-weight: 700" v-if="weaponAction.rules">{{
        weaponAction.rules.map(i =>
          profile.weaponRules.indexOf(i) + 1).join(' ') }}</sup></td>
        <td v-html="parseRichText(weaponAction.shortRange, { profile: profile.id }) ?? 'N/A'"></td>
        <td v-html="parseRichText(weaponAction.midRange, { profile: profile.id }) ?? 'N/A'"></td>
        <td v-html="parseRichText(weaponAction.longRange, { profile: profile.id }) ?? 'N/A'"></td>
      </tr>
      <tr v-if="profile.weaponRules" class="weapon-rules">
        <td colspan="4" style="text-align: justify">
          <div v-for="(weaponRule, i) in profile.weaponRules" :key="weaponRule">
            <sup style="font-weight: 700;">{{ i + 1 }}</sup>{{
        getSpecialWeaponRuleName(profile.id, weaponRule) }} : <span
              v-html="parseRichText(getSpecialWeaponRuleDescription(profile.id, weaponRule))"></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</template>
<script setup>
import { getWeaponActionName, getSpecialWeaponRuleName, getSpecialWeaponRuleDescription } from 'src/i18n';
import { parseRichText } from 'src/lib/rtf';

const props = defineProps({
  profile: Object
})
</script>
<style lang="scss" scoped>
.weapon-actions {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #101d27;
  border-collapse: collapse;
  text-align: center;

  thead,
  th,
  td {
    border: 1px solid #101d27;
    padding: 6px;
  }

  thead {
    background: #101d27;
    color: white;
  }
}
</style>