<template>
  <div class="column" style="height: 100%">
    <div class="col-auto">
      <q-input dense outlined :model-value="props.modelValue" :label="label" :disable="noIdEdit" />
    </div>
    <div class="col column q-pa-xs localization-form" v-if="hasLocalizedEntry">
      <q-input class="col-auto bg-light-blue-1" :spellcheck="false" dense outlined :model-value="localizedLabel"
        @update:model-value="bufferNewName" @blur="updateName" label="[Name]" :disable="isExternalEntry" autogrow />
      <q-input class=" col-auto bg-light-blue-1" :spellcheck="false" dense outlined :model-value="localizedDescription"
        @update:model-value="bufferNewDescription" @blur="updateDescription" label="[Description]" autogrow
        :disable="isExternalEntry" />
      <div class="col flex q-pt-xs text-grey-8" style="align-content: end; justify-content: center">
        <div class="row text-center">
          <div class="col-12">
            <span v-if="hasGlobalEntry">[Related Global entry for language:] </span>
            <span v-else-if="hasLocalEntry">[Related Local Entry for language:] </span>
            <span>&nbsp;{{ locale }}</span>
          </div>
          <div class="col-12">
            <span v-if="isExternalEntry">
              [Cannot edit this entry directly, because its text is in another definition file, or in
              another content pack]
            </span>
          </div>
        </div>

      </div>
    </div>
    <div v-else-if="props.modelValue !== ''" class="col q-pa-xs localization-form">
      <div class="q-pa-sm">
        [No text entry found for '{{ props.modelValue }}'. You can solve this with one of these
        actions:]
        <ul>
          <li>[Click on "Create local text entry" to create a name + description
            describing this property, local to this element.]</li>
          <li>[Click on "Create global text entry" to create a name + description
            describing this property, that is global to all content and will apply to all other properties
            using
            this id (and not defining a local text entry of their own, for this id)]
          </li>
        </ul>
        The created text entry will be stored in this content definition file.
      </div>
      <div>
        <q-btn outline style="width: 50%" @click="createLocalEntry">[Create local text entry]</q-btn>
        <q-btn outline style="width: 50%" @click="createGlobalEntry">[Create global text entry]</q-btn>
      </div>
    </div>
  </div>
</template>
<script setup>
import { storeToRefs } from 'pinia';
import i18n, { tfallbacknull } from 'src/i18n';
import { useCompendium } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { computed, ref } from 'vue';
import { debounce } from 'quasar'
import { put } from 'src/lib/put'
import { useLocalizedField } from 'src/lib/localizedField'

const { locale } = i18n.global;
const compendium = useCompendium();
const { texts, textsMapping } = storeToRefs(compendium);
const editStore = useEditStore();
const { dependency, selectedDefinitionFullName } = storeToRefs(editStore);

const props = defineProps({
  modelValue: String,
  noIdEdit: { type: Boolean, default: true },
  label: { type: String, default: '' },
  prefixes: { type: Array, default: () => ([]) }
})

const hasLocalEntry = computed(() => {
  const localKey = `${props.prefixes[1]}.${props.modelValue}.name`;
  return i18n.global.te(localKey);
})

const hasGlobalEntry = computed(() => {
  const globalKey = `${props.prefixes[0]}.${props.modelValue}.name`;
  console.log("Has global key?", globalKey, texts.value[locale.value], i18n.global.te(globalKey))
  return i18n.global.te(globalKey);
})

const hasLocalizedEntry = computed(() => {
  return hasLocalEntry.value || hasGlobalEntry.value;
})

const localizedEntryKey = computed(() => {
  if (hasGlobalEntry.value) return `${props.prefixes[0]}.${props.modelValue}`;
  if (hasLocalEntry.value) return `${props.prefixes[1]}.${props.modelValue}`;
  else return null;
})

const isExternalEntry = computed(() => {
  const fullKey = locale.value + '.' + localizedEntryKey.value + ".name"; // we take this one, but description would work the same
  console.log("full key=", fullKey)
  console.log(textsMapping.value[fullKey], dependency.value.filename, selectedDefinitionFullName.value)
  return textsMapping.value[fullKey].contentPack !== dependency.value.filename || textsMapping.value[fullKey].file !== selectedDefinitionFullName.value
})



function usedLocKeyForField(field) {
  return computed(() => {
    const globalKey = `${props.prefixes[0]}.${props.modelValue}.${field}`;
    const localKey = `${props.prefixes[1]}.${props.modelValue}.${field}`;
    return hasGlobalEntry.value ? globalKey : localKey;
  })
}

const usedLocKeyForLabel = usedLocKeyForField('name')
const usedLocKeyForDescription = usedLocKeyForField('description')

const {
  localizedFieldString: localizedLabel,
  applyNewLocalizedField: updateName,
  bufferNewLocalizedField: bufferNewName,
  createTextEntry: createNameEntry
} = useLocalizedField(usedLocKeyForLabel.value);

const {
  localizedFieldString: localizedDescription,
  applyNewLocalizedField: updateDescription,
  bufferNewLocalizedField: bufferNewDescription,
  createTextEntry: createDescriptionEntry
} = useLocalizedField(usedLocKeyForDescription.value);

function createLocalEntry() {
  createNameEntry(`${props.prefixes[1]}.${props.modelValue}.name`)
  createDescriptionEntry(`${props.prefixes[1]}.${props.modelValue}.description`)
}

function createGlobalEntry() {
  createNameEntry(`${props.prefixes[0]}.${props.modelValue}.name`)
  createDescriptionEntry(`${props.prefixes[0]}.${props.modelValue}.description`)
}
</script>
<style lang="scss" scoped></style>
