<template>
  <div class="row">
    <div class="col-12" v-if="!noId">
      <q-input dense outlined :model-value="props.modelValue" @update:model-value="emit('update:model-value', $event)"
        :label="label" :disable="noIdEdit" />
    </div>
    <div class="col column q-pa-xs localization-form" v-if="hasLocalEntry">
      <q-input dense class="col-auto bg-light-blue-1" :spellcheck="false" outlined :model-value="localizedFieldString"
        @update:model-value="bufferNewLocalizedField" @blur="applyNewLocalizedField"
        :label="noId ? label : '[Related Text]'" autogrow :disabled="isExternalEntry" />
      <div class="col flex text-grey-8" style="align-content: end; justify-content: center">
        <div class="row text-center">
          <!-- <div class="col-12">
            <span>[Related Local Entry for language:] </span>
            <span>&nbsp;{{ locale }}</span>
          </div> -->
          <div class="col-12">
            <span v-if="isExternalEntry">
              [Cannot edit this entry directly, because its text is in another definition file, or in
              another content pack.]
            </span>
          </div>
        </div>

      </div>
    </div>
    <div v-else-if="props.modelValue !== ''" class="col q-pa-xs localization-form">
      <div class="q-pa-sm text-left">
        [No text entry found for '{{ prefix }}.{{ modelValue }}{{ suffix ? '.' + suffix : '' }}'. Click on
        "Create local text entry"
        to create an
        entry
        describing this property, local to this element.]
        <p>[The created text entry will be stored in this content definition file.]</p>
      </div>
      <div>
        <q-btn outline style="width: 100%">[Create local text entry]</q-btn>
      </div>
    </div>
  </div>
</template>
<script setup>
import { storeToRefs } from 'pinia';
import i18n, { tfallbacknull } from 'src/i18n';
import { useLocalizedField } from 'src/lib/localizedField';
import { useCompendium } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { computed } from 'vue';


const { locale } = i18n.global;
const compendium = useCompendium();
const { textsMapping } = storeToRefs(compendium);
const editStore = useEditStore();
const { dependency, selectedDefinitionFullName } = storeToRefs(editStore);

const props = defineProps({
  modelValue: String,
  noId: { type: Boolean, default: true },
  noIdEdit: { type: Boolean, default: true },
  label: { type: String, default: '' },
  prefix: { type: String, default: '' },
  suffix: { type: String, default: '' }
})

const emit = defineEmits(['update:model-value'])


const hasLocalEntry = computed(() => {
  const localKey = `${props.prefix}.${props.modelValue}${props.suffix ? '.' + props.suffix : ''}`;
  return i18n.global.te(localKey);
})

const localizedEntryKey = computed(() => {
  return `${props.prefix}.${props.modelValue}${props.suffix ? '.' + props.suffix : ''}`;
})

const isExternalEntry = computed(() => {
  const fullKey = locale.value + '.' + localizedEntryKey.value;
  console.log("full key=", fullKey)
  console.log(textsMapping.value[fullKey], selectedDefinitionFullName.value)
  return textsMapping.value[fullKey].contentPack !== dependency.value.filename || textsMapping.value[fullKey].file !== selectedDefinitionFullName.value
})

const {
  localizedFieldString,
  applyNewLocalizedField,
  bufferNewLocalizedField
} = useLocalizedField(localizedEntryKey.value);
// const localizedString = computed(() => {
//   return tfallbacknull(...props.prefixes.map(p => `${p}.${props.modelValue}${props.suffix ? '.' + props.suffix : ''}`))
// })
</script>
