<template>
  <div class="row">
    <div class="col-12" style="font-size: 1rem">{{ label }}</div>
    <div class="col-6 q-px-md">
      <q-slider :step="0" :model-value="backgroundPosition[0]"
        @update:model-value="updateBackgroundPosition($event, backgroundPosition[1])" :min="minX" :max="maxX" />
    </div>
    <div class="col-6 q-pl-md">
      <q-slider :model-value="backgroundPosition[1]"
        @update:model-value="updateBackgroundPosition(backgroundPosition[0], $event)" :min="minY" :max="maxY" />
    </div>
  </div>
</template>
<script setup>
import { overwriteMergeRule, useCompendium } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { storeToRefs } from 'pinia';
import { parseRichText } from 'src/lib/rtf.js'
import * as fs from "src/lib/opfs";
import i18n from 'src/i18n';
import InfoFrame from 'src/components/InfoFrame.vue';
import { saveAs } from 'file-saver';
import { useRouter } from 'vue-router';
import { ref, computed } from 'vue'
import deepmerge from 'deepmerge';

const compendium = useCompendium();
const editStore = useEditStore();
const { styles } = storeToRefs(compendium)
// const { tryLoadingContentPack } = compendium;
const { files, selectedDefinitionFullName } = storeToRefs(editStore)


const props = defineProps({
  profile: Object,
  label: { type: String, default: '' },
  minX: { type: Number, default: -200 },
  maxX: { type: Number, default: 200 },
  minY: { type: Number, default: -200 },
  maxY: { type: Number, default: 200 },
  imageType: { type: String, default: 'explorerCombatCards' },
  default: { type: String, default: "50% 50%" }
})

const backgroundPosition = computed(() => {
  const file = files.value[selectedDefinitionFullName.value];
  const rawPosition = file.styles?.[props.imageType]?.[props.profile.id]?.backgroundPosition ?? props.default;
  const split = rawPosition.split(/%|\ /)
  const position = [Number(split[0]), Number(split[2])];
  return position;
})

const updateBackgroundPosition = function (x, y) {
  const rawPosition = `${x}% ${y}%`

  const file = files.value[selectedDefinitionFullName.value];

  if (!file.styles) file.styles = {};
  if (!file.styles[props.imageType]) file.styles[props.imageType] = { [props.profile.id]: {} };
  file.styles[props.imageType][props.profile.id].backgroundPosition = rawPosition;

  styles.value = deepmerge(styles.value, file.styles, overwriteMergeRule);
}
</script>
