<template>
  <div class="q-pb-sm">
    <img class="inline-icon" style="cursor: pointer" @click="emit('click:square')" src="symbols/square_miss.png" />
    <img class="inline-icon" style="cursor: pointer" @click="emit('click:triangle')" src="symbols/triangle_miss.png" />
    <img class="inline-icon" style="cursor: pointer" @click="emit('click:pentagon')" src="symbols/pentagon_miss.png" />
  </div>
</template>
<script setup>
const emit = defineEmits(['click:square', 'click:triangle', 'click:pentagon'])
</script>
