<template>
  <q-page v-if="selectedSave" class="q-ma-lg">

    <div class="row q-pb-md" style="justify-content: center;">
      <InitiativeTrack />
    </div>

    <div class="q-pb-md">
      <q-btn @click="endCombat" class="bg-white q-mx-xs">[End combat]</q-btn>
      <q-btn v-if="currentCombatPhase === 'before_combat' || currentCombatPhase === 'beginning_of_turn'"
        @click="startManoeuverPhase" class="bg-white q-mx-xs">[Start fight]</q-btn>
      <q-btn v-if="currentCombatPhase === 'activations'" @click="activateNextFighter"
        class="bg-white q-mx-xs">[Activation done]</q-btn>
    </div>
    <div v-if="currentCombatPhase === 'before_combat'">
      <RemindersList label="before combat starts" :reminders="beforeCombatReminders"
        v-if="beforeCombatReminders.length > 0" />
    </div>
    <div v-else-if="currentCombatPhase === 'beginning_of_turn'">
      <RemindersList label="[beginning of a new round]" :reminders="beginningOfTurnReminders"
        v-if="beginningOfTurnReminders.length > 0" />
    </div>
    <div v-if="activeFighter">
      <ExplorerProfile v-if="activeFighter.type === 'explorer'" :profile="explorerProfiles[activeFighter.profile]" />
      <div v-else>
        <div v-for="group in hostileGroups[activeFighter.profile].profiles" :key="group">
          <HostileProfile :profile="hostileProfiles[group]" />
        </div>
      </div>
    </div>

    <div v-if="currentCombatPhase === 'event' && behaviourBlackstoneDice !== 0"></div>

    <RollEventDialog v-model="displayEventRollDialog" @done="loadNewRound(false)" />
    <ManoeuverDialog v-model="displayManoeuverDialog" @done="startActivationPhase" />
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { SAVE_STATUS, useSaveStore } from "src/stores/save"
import { useCompendium } from "src/stores/compendium";
import { useCombatStore } from 'src/stores/combat';
import { useRouter } from 'vue-router';
import FighterCard from "src/components/FighterCard.vue"
import ManoeuverDialog from 'src/components/ManoeuverDialog.vue';
import RollEventDialog from 'src/components/RollEventDialog.vue';
import ExplorerProfile from 'src/components/profiles/ExplorerProfile.vue';
import HostileProfile from 'src/components/profiles/HostileProfile.vue'
import InitiativeTrack from 'src/components/InitiativeTrack.vue'
import i18n, { getProfileName, getSpecialRuleDescription, getSpecialRuleName } from "src/i18n";
import InfoFrame from 'src/components/InfoFrame.vue';
import { parseRichText } from 'src/lib/rtf';
import RemindersList from 'src/components/RemindersList.vue'

const router = useRouter();
const compendium = useCompendium();
const saveStore = useSaveStore();
const combat = useCombatStore();


const { selectedSave } = storeToRefs(saveStore)
const { explorerProfiles, hostileGroups, hostileProfiles } = storeToRefs(compendium);
const { initiativeTrack, currentCombatPhase, activeFighter, activeFighterIndex, behaviourBlackstoneDice, displayManoeuverDialog, displayEventRollDialog, fightingExplorers } = storeToRefs(combat);
const { shuffleInitiativeTrack } = combat;

const deadExplorers = computed(() => selectedSave.value.deadExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const inspiredExplorers = computed(() => selectedSave.value.inspiredExplorers.map(explorerId => explorerProfiles.value[explorerId]))


const beginningOfTurnReminders = computed(() => {
  const reminders = []
  for (const profile of fightingExplorers.value) {
    const rules = (profile.reminders?.beginning_of_turn ?? [])
    if (rules.length > 0) {
      reminders.push({
        profileId: profile.id,
        rules
      });
    }
  }
  return reminders;
})
const beforeCombatReminders = computed(() => {
  const reminders = []
  for (const profile of fightingExplorers.value) {
    const rules = [...(profile.reminders?.before_combat ?? []), ...(profile.reminders?.beginning_of_turn ?? [])]
    if (rules.length > 0) {
      reminders.push({
        profileId: profile.id,
        rules
      });
    }
  }
  return reminders;
})



function endCombat() {
  selectedSave.value.status = SAVE_STATUS.IN_EXPEDITION;
  router.push({ name: "expedition" })
}


function loadNewRound(startOfFight) {
  displayEventRollDialog.value = false;
  behaviourBlackstoneDice.value = 0;
  currentCombatPhase.value = startOfFight
    ? "before_combat"
    : "beginning_of_turn";

  shuffleInitiativeTrack();
  if (currentCombatPhase.value === "cover_fire_and_manoeuver") displayManoeuverDialog.value = true;
}

function startManoeuverPhase() {
  displayManoeuverDialog.value = true;
  currentCombatPhase.value = "cover_fire_and_manoeuver"
}

function startActivationPhase() {
  displayManoeuverDialog.value = false;
  activeFighterIndex.value = 0
  currentCombatPhase.value = "activations"
}

function activateNextFighter() {
  behaviourBlackstoneDice.value = 0;
  let nextFighter = activeFighterIndex.value + 1;
  if (nextFighter >= initiativeTrack.value.length) {
    nextFighter = null;
    currentCombatPhase.value = "event"
    displayEventRollDialog.value = true;
  }
  activeFighterIndex.value = nextFighter;
}



if (currentCombatPhase.value === "") loadNewRound(true);
</script>
