<template>
  <q-page class="q-ma-lg">
    <div class="row">
      <div class="col-12">
        <q-btn outline style="width: 100%" class="q-mb-md bg-white" @click="goBack">[Back]</q-btn>
        <InfoFrame allow-shrink>
          <template v-slot:title>[Edit Definition File:] {{ selectedDefinitionFilename }}</template>
          <template v-slot:infos>
            <p>[Here, you can define new content, as well as localize it. Each section explains what it does. Several
              interfaces automatically create additional content when you create one. For instance, when you create a
              new explorer profile, the interface will automatically create the text entries for the default (english)
              language.]
            </p>
            <p>[A single file can contain any number of different definitions: explorers, hostiles, unique actions,
              weapon
              actions, ships, ... as well as their texts.]
            </p>
            <p style="font-size: 1.1rem">[How content and texts work together]</p>
            <p>
              [When you define new content, like an explorer profile, with their weapon actions, unique rules and
              special
              behaviours, you do not write them directly as texts. Instead, you define them as ids, that will then be
              used to link a number of things. For instance, it will allow to find the proper text to display based on
              the selected language. The interface hides some of that, but there are advantages to decoupling both
              concepts. For instance, if a profile uses a behaviour that is very common to different profiles, defining
              it as a global text once allows you to not copy paste it everywhere. This also means you're making the job
              of people localizing content way easier, as they don't have to hunt identical strings in the content.]
            </p>
            <p>[Stats and weapon action table cells are the only thing defined directly on the explorer profile. The
              "purely text" properties like unique actions are defined in the texts.]</p>
            <p style="font-size: 1.1rem">[Formatted text and symbols]</p>
            <p>
              [Most texts allow you to use a few basic formatting rules, to display Blackstone Fortress-specific
              symbols, reference rules by name, as well as bold and italic text. Here is a list of tags you can use:]
            <ul>
              <li><code>*Something in italic*</code> : <span v-html="parseRichText('*Something in italic*')"></span>
              </li>
              <li><code>**Something in bold**</code> : <span v-html="parseRichText('**Something in bold**')"></span>
              </li>
              <li><code>[SQUARE]</code> : <span v-html="parseRichText('[SQUARE]')"></span></li>
              <li><code>[TRIANGLE]</code> : <span v-html="parseRichText('[TRIANGLE]')"></span></li>
              <li><code>[PENTAGON]</code> : <span v-html="parseRichText('[PENTAGON]')"></span></li>
              <li><code>[GROUP1]</code> <code>[GROUP2]</code> <code>[GROUP3]</code> <code>[GROUP4]</code> : <span
                  v-html="parseRichText('[GROUP1]')"></span><span v-html="parseRichText('[GROUP2]')"></span><span
                  v-html="parseRichText('[GROUP3]')"></span><span v-html="parseRichText('[GROUP4]')"></span></li>
              <li><code>[WRULE|move_up]</code> : <span
                  v-html="parseRichText('[WRULE|move_up]', { profile: 'traitor_guardsman' })"></span> (in the context of
                a specific profile, [WRULE|rule_id] allows to display a rule name in a formatted text, like a weapon
                action cell. The most obvious example would be the Traitor Guardsman's Flamer weapon action)</li>
            </ul>
            </p>
          </template>
        </InfoFrame>
      </div>
      <q-card class="col-12 q-mt-md">
        <q-card-section>
          <div style="width: 100%; font-size: 1.1rem" class="text-center q-py-md bg-grey-4">Explorers</div>
          <hr class="q-mt-none" style="height:2px; width: 100%; background: black">
          <InfoFrame :allow-shrink="true" class="q-mt-md">
            <template v-slot:title>[Explorers]</template>
            <template v-slot:infos>
              <p style="font-size: 1.1rem">[Basic profile vs Inspired profile]</p>
              <p>[The application automatically links the explorer profiles [profile] and [profile]__inspired, and
                switch
                between them when the player uses the buttons to inspire an explorer. If you don't define one yourself,
                the application will automatically generate an inspired profile that is identical to the base one.]
              </p>
              <p>[You don't actually need to redefine everything in the inspired profile, only the properties that are
                different. If you leave the other properties empty, the application will automatically go pull the texts
                of the base profile.]</p>
            </template>
          </InfoFrame>
          <q-card v-for="profile in files[selectedDefinitionFullName].explorerProfiles" :key="profile.id"
            class="col-12 q-mb-xl q-mt-md" style="outline: 1px solid black">
            <q-card-section class="row">
              <div class="col-xs-12">
                <fieldset>
                  <legend>Identity</legend>
                  <div class="row">
                    <div class="col-4 q-pb-sm q-pr-xs">
                      <SingleFieldEntry :no-id="false" no-id-edit :model-value="profile.id" label="[Id]"
                        prefix="explorerProfiles" suffix="name" />
                    </div>
                    <div class="col-4 q-pb-sm q-pr-xs">
                      <SingleFieldEntry :model-value="profile.id" label="[Title]" prefix="explorerProfiles"
                        suffix="title" />
                    </div>
                    <!-- <div class="col-4">
                      <q-input outlined dense label="[Ship]" v-model="profile.ship"></q-input>
                    </div> -->
                    <div class="col-4 q-pb-sm">
                      <SingleFieldEntry :model-value="profile.id" label="[Secret agenda]" prefix="explorerProfiles"
                        suffix="secretAgenda" />
                    </div>
                    <div class="col-12 row">
                      <div class="col-12">[Explorer image]</div>
                      <div class="col-7 row">
                        <div class="col-4 text-center">
                          <q-file dense outlined @update:model-value="updateExplorerImage(profile, $event)"
                            label="[Image file]" accept=".png" clearable>
                            <template v-slot:prepend>
                              <q-icon name="attach_file" />
                            </template>
                          </q-file>
                          <div style="width: 100%; height: 240px; align-content: center"><img
                              :src="images[`explorer.${profile.id}.png`]"
                              style="max-width: 200px; border: 1px solid black" />
                          </div>
                        </div>
                        <div class="col-auto q-px-md q-pb-md">
                          <hr>
                        </div>
                        <div class="col" style="align-content: center">
                          <StyleBackgroundPositionForm label="[Position on the profile header]" default="100% 0%"
                            :profile="profile" image-type="explorerProfileHeaders" />
                          <StyleBackgroundPositionForm class="q-pt-sm" label="[Position on the selection card]"
                            :profile="profile" default="100% 0%" image-type="explorerSelectionCards" />
                          <StyleBackgroundPositionForm label="Position on the combat card" :profile="profile"
                            image-type="explorerCombatCards" />
                          <StyleBackgroundPositionForm label="Position on the manoeuver card" :profile="profile"
                            image-type="explorerManoeuverCards" />
                        </div>
                      </div>
                      <div class="col-auto q-px-md q-pb-md">
                        <hr>
                      </div>
                      <div class="col row">
                        <div class="col-12" style="font-size: 1rem">[Preview:]</div>
                        <div class="col-12" :style="previewProfileHeaderStyle(profile)"></div>
                        <div class="col-7" style="padding-top: 1px">
                          <ExplorerSelectionCard :profile="profile" :cosmetic="true"
                            :image="images[`explorer.${profile.id}.png`]"
                            :inspired="profile.id.endsWith('__inspired')" />
                        </div>
                        <div class="col-5 q-pa-xs flex">
                          <FighterCard :active="true" :fighter="{ profile: profile.id, type: 'explorer' }"
                            :image="images[`explorer.${profile.id}.png`]" style="margin-left: 5px; margin-right: 5px" />
                          <MiniatureFighterCard :fighter="{ profile: profile.id, type: 'explorer' }"
                            :image="images[`explorer.${profile.id}.png`]" />
                          <!-- <div class="col">
                            <i>
                              [Above: explorer profile header]<br />
                              [To the left, in order: explorer card, fighter portrait in combat, fighter portrait in the
                              manoeuver
                              and gambit popup.]
                            </i>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-xs-12">
                <fieldset>
                  <legend>[Stats]</legend>
                  <div class="flex">
                    <q-input class="col" outlined dense label="[Move]" v-model="profile.move"></q-input>
                    <q-input class="col" outlined dense label="[Defence]" v-model="profile.defence"></q-input>
                    <q-input class="col" outlined dense label="[Agility]" v-model="profile.agility"></q-input>
                    <q-input class="col" outlined dense label="[Vitality]" v-model="profile.vitality"></q-input>
                    <!-- <q-input class="col" outlined dense label="[Number of actions]"
                      v-model="profile.numberOfActions"></q-input> -->
                  </div>
                </fieldset>
              </div>
              <div class="col-xs-12">
                <fieldset>
                  <legend>[Weapon actions]</legend>
                  <div>
                    <table class="weapon-actions">
                      <tr>
                        <td rowspan="2" width="30%">[Weapon]</td>
                        <td rowspan="2" width="20%">[Associated Rules]</td>
                        <td colspan="3">[Range]</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>2-3</td>
                        <td>4+</td>
                      </tr>
                      <tr v-for="weaponAction in profile.weaponActions" :key="weaponAction.id">
                        <td>
                          <SingleFieldEntry :no-id="false" :prefix="`explorerProfiles.${profile.id}.weaponActions`"
                            label="[Weapon action id]" :model-value="weaponAction.id" />
                        </td>
                        <td>
                          {{ weaponAction.rules }}
                        </td>
                        <td>
                          <SymbolPicker @click:square="append(weaponAction, 'shortRange', '[SQUARE]')"
                            @click:triangle="append(weaponAction, 'shortRange', '[TRIANGLE]')"
                            @click:pentagon="append(weaponAction, 'shortRange', '[PENTAGON]')" />
                          <q-input outlined dense :model-value="weaponAction.shortRange" />
                        </td>
                        <td>
                          <SymbolPicker @click:square="append(weaponAction, 'midRange', '[SQUARE]')"
                            @click:triangle="append(weaponAction, 'midRange', '[TRIANGLE]')"
                            @click:pentagon="append(weaponAction, 'midRange', '[PENTAGON]')" />
                          <q-input outlined dense :model-value="weaponAction.midRange" />
                        </td>
                        <td>
                          <SymbolPicker @click:square="append(weaponAction, 'longRange', '[SQUARE]')"
                            @click:triangle="append(weaponAction, 'longRange', '[TRIANGLE]')"
                            @click:pentagon="append(weaponAction, 'longRange', '[PENTAGON]')" />
                          <q-input outlined dense :model-value="weaponAction.longRange" />
                        </td>
                      </tr>
                      <tr class="weapon-rules">
                        <td colspan="5">
                          <div class="row">
                            <div class="col-12 text-left">Weapon rules</div>
                            <div class="col-6" v-for="weaponRule in profile.weaponRules" :key="weaponRule">
                              <FieldEntry :prefixes="[`explorerProfiles.${profile.id}.weaponRules`]"
                                :model-value="weaponRule" label="[Weapon rule id]" />
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </div>
              <div class="col-xs-12">
                <fieldset>
                  <legend>Special rules</legend>
                  <div class="row">
                    <div class="col-6 q-pa-sm" v-for="(ruleId, i) in (profile.specialRules || [])" :key="ruleId">
                      <FieldEntry :model-value="profile.specialRules[i]" label="[Rule id]"
                        :prefixes="['specialRules', `explorerProfiles.${profile.id}.specialRules`]" suffix="name" />
                    </div>
                    <div class="col-6 q-pa-sm">
                      <q-input v-model="newSpecialRuleId" dense outlined label="[New special rule id]" />
                      <q-btn outline style="width: 100%" class="bg-white" @click="addSpecialRule(profile)"
                        :disable="newSpecialRuleId === ''">
                        [Add special rule]
                      </q-btn>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-xs-12">
                <fieldset>
                  <legend>Unique actions</legend>
                  <div class="row">
                    <div class="col-6 q-pa-sm" v-for="(actionId, i) in (profile.uniqueActions || [])" :key="actionId">
                      <FieldEntry :model-value="profile.uniqueActions[i]" label="[Id]"
                        :prefixes="['uniqueActions', `explorerProfiles.${profile.id}.uniqueActions`]" suffix="name" />
                    </div>
                    <div class="col-6 q-pa-sm">
                      <q-input v-model="newUniqueActionId" dense outlined label="[New unique action id]" />
                      <q-btn outline style="width: 100%" class="bg-white" @click="addUniqueAction(profile)"
                        :disable="newUniqueActionId === ''">
                        [Add unique action]
                      </q-btn>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-12 q-pt-md"
                v-if="!profile.id.endsWith('__inspired') && !explorerProfiles[profile.id + '__inspired']">
                <q-btn outline style="width: 100%">[Create inspired copy of this profile]</q-btn>
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-card>

      <div class="col-12">
        <div>Hostiles</div>
        <pre>{{ files[selectedDefinitionFullName].hostileProfiles }}</pre>
      </div>
      <div class="col-12">
        <div>Hostile groups</div>
        <pre>{{ files[selectedDefinitionFullName].hostileGroups }}</pre>
      </div>
      <div class="col-12">
        <div>Encounter Types</div>
        <pre>{{ files[selectedDefinitionFullName].encounterTypes }}</pre>
      </div>
      <div class="col-12">
        <div>Ships</div>
        <div>
          [Ships aren't objects themselves because they don't have any structure: they're really just a set of texts an
          explorer
          can then reference by saying which ship they're associated with. Clicking this button will add the proper text
          entries to fill.]
        </div>
      </div>
      <div class="col-12">
        <div>Styles</div>
        <pre>{{ files[selectedDefinitionFullName].styles }}</pre>
      </div>
      <div class="col-12">
        <div>Texts</div>
        <div>See those texts? When anything in it changes, you need to merge it back into the compendium texts, because
          i18n
          relies on this single source of truth.</div>
        <pre>{{ files[selectedDefinitionFullName].texts }}</pre>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useCompendium } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { storeToRefs } from 'pinia';
import { parseRichText } from 'src/lib/rtf.js'
import * as fs from "src/lib/opfs";
import i18n from 'src/i18n';
import InfoFrame from 'src/components/InfoFrame.vue';
import { saveAs } from 'file-saver';
import { useRouter } from 'vue-router';
import { ref, computed } from 'vue'
import SingleFieldEntry from 'src/components/edit/SingleFieldEntry.vue'
import FieldEntry from 'src/components/edit/FieldEntry.vue'
import SymbolPicker from 'src/components/edit/SymbolPicker.vue'
import ExplorerSelectionCard from 'src/components/ExplorerSelectionCard.vue';
import FighterCard from 'src/components/FighterCard.vue';
import MiniatureFighterCard from 'src/components/MiniatureFighterCard.vue';
import StyleBackgroundPositionForm from 'src/components/edit/StyleBackgroundPositionForm.vue'

const router = useRouter();
const compendium = useCompendium();
const editStore = useEditStore();
const { explorerProfiles, styles } = storeToRefs(compendium)
// const { tryLoadingContentPack } = compendium;
const { files, images, imageFiles, filePaths, dependency: synopsis, selectedDefinitionFilename, selectedDefinitionFullName } = storeToRefs(editStore)
const { selectContentPack } = editStore;

const newSpecialRuleId = ref('');
const newUniqueActionId = ref('');

function goBack() {
  router.push({ name: "editcontentpack" })
  // selectedDefinitionFilename.value = null;
}

function append(obj, property, str) {
  if (!obj[property]) obj[property] = str;
  else obj[property] = obj[property] + str;
}

function addSpecialRule(profile) {
  if (!profile.specialRules) profile.specialRules = []
  profile.specialRules.push(newSpecialRuleId.value)
  newSpecialRuleId.value = '';
}

function addUniqueAction(profile) {
  if (!profile.uniqueActions) profile.uniqueActions = []
  profile.uniqueActions.push(newUniqueActionId.value)
  newUniqueActionId.value = '';
}

function previewProfileHeaderStyle(profile) {
  const style = styles.value?.explorerProfileHeaders?.[profile.id] ?? {}
  return {
    background: `linear-gradient(to right, rgba(16, 29, 39, 255) 0, rgba(16, 29, 39, 1) calc(100% - 250px), rgba(16, 29, 39, 0) calc(100% - 100px)), url('${images.value[`explorer.${profile.id}.png`]}') top right no-repeat`,
    height: '75px',
    ...style
  }
}

function updateExplorerImage(profile, file) {
  if (!file) return;
  const reader = new FileReader();
  reader.onload = async function (e) {
    const blob = new Blob([new Uint8Array(e.target.result)], { type: file.type });
    imageFiles.value[`explorer.${profile.id}.png`] = blob;
    images.value[`explorer.${profile.id}.png`] = window.URL.createObjectURL(blob);
    console.log(window.URL.createObjectURL(blob))
  };
  reader.readAsArrayBuffer(file);
}

</script>
<style lang="scss" scoped>
code {
  background: rgb(73, 73, 73);
  color: white;
  padding: 2px;
  border-radius: 2px;
}

li {
  line-height: 1.5rem;
}

.weapon-actions {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #101d27;
  border-collapse: collapse;
  text-align: center;

  thead,
  th,
  td {
    border: 1px solid #101d27;
    padding: 6px;
  }

  thead {
    background: #101d27;
    color: white;
  }
}

.preview-profile-header {
  background: linear-gradient(to right, rgba(16, 29, 39, 255) 0, rgba(16, 29, 39, 1) calc(100% - 250px), rgba(16, 29, 39, 0) calc(100% - 100px)), url('') top right no-repeat;
  height: 64px;
}

hr {
  border: none;
  border-left: 0.15rem solid hsla(200, 10%, 50%, 100);
  height: 100%;
  width: 1px;
}
</style>
