<template>
  <q-page class="q-ma-lg">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <InfoFrame>
          <template v-slot:title>[Edit Content Pack]</template>
          <template v-slot:infos>
            <p>[Here, you can create new files to regroup definitions together, add images, loc strings. You can
              organize your content pack by creating folders and moving folders and files.</p>

            <p>Click Edit to edit one of the files. When you're done, click on the Save button.]
            </p>
            <p style="border: 4px solid #975454; border-radius: 4px; background: #f3bd97; padding: 6px">[Keep in mind
              that
              an edited mod only
              exists in the
              local
              storage of your
              browser. To avoid losing it in
              case you hit the update button or anything else happens, or if you wish to share it, do not forget to
              download a copy of it. Changes are <b>NOT</b> saved (i.e. the content pack isn't actually updated) until
              you click that big save button. Reloading the
              app or leaving this interface drops all changes.]</p>

            <p style="font-size: 1.1rem; padding-top: 36px">[Creating content packs outside this tool]</p>
            <p>
              A content pack is, in essence, nothing more than a zip with a few conventions to follow:
            <ul>
              <li>a "synopsis.json" text file must exist at the root, defining an object with a field properties to
                describe your mod: {"name": "My mod", "version": 1}.
              </li>
              <li>a "content" folder, with all the JSON text files (that we call "definition files") put in there. You
                can have subfolders in it, to organize your content.</li>
              <li>an "images" folder, with all the image files put in there. Currently, only the PNG format is
                supported. You can have subfolders in it, to organize your content.</li>
            </ul>
            Files outside these two folders (except the synopsis file) are ignored. Non JSON files inside content/ are
            ignored. Non image files inside images/ are ignored.
            </p>

          </template>
        </InfoFrame>
        <div class="q-mt-md">
          <q-card>
            <q-card-section v-if="synopsis">
              <span class="q-mr-sm" style="font-size: 1.1rem; align-content: center;">{{ synopsis.name }}</span>
              <span class="q-mr-sm" style="font-size: 1.1rem; align-content: center;">{{ synopsis.version }}</span>
              <div class="col-12">
                <q-btn outline style="width: 100%" @click="saveContentPack">[Save and go back to content
                  management]</q-btn>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 q-pl-md-md q-pt-xs-md q-pt-md-none">
        <div class="q-pb-md">
          <q-card>
            <q-card-section>
              <q-tree dense :nodes="filesTree" node-key="label" selected-color="primary" default-expand-all
                no-nodes-label="[Create new definition files to see them appear here.]">
                <template v-slot:default-header="prop">
                  <div v-if="prop.node.isFile">
                    {{ prop.node.label }}
                    <q-btn size="sm" round flat icon="edit" @click="editFile(prop.node)"></q-btn>
                    <q-btn size="sm" round flat icon="drive_file_move" @click="moveFile(prop.node)" disabled></q-btn>
                    <q-btn size="sm" round flat icon="delete_outline" @click="deleteFile(prop.node)"></q-btn>
                  </div>
                  <div v-else class="text-weight-light text-black">
                    {{ prop.node.label }}
                    <q-btn size="sm" round flat icon="drive_file_move" @click="moveFile(prop.node)" disabled></q-btn>
                    <q-btn size="sm" round flat icon="create_new_folder" @click="moveFile(prop.node)" disabled></q-btn>
                    <q-btn size="sm" round flat icon="note_add" @click="moveFile(prop.node)" disabled></q-btn>
                  </div>
                </template>
              </q-tree>
              <q-btn outline style="width: 100%" class="q-mb-xs" disabled>[Create new root folder]</q-btn>
              <q-btn outline style="width: 100%" disabled>[Create new definition file at the root]</q-btn>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useCompendium, DEPENDENCY_TYPE } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { storeToRefs } from 'pinia';
import { parseRichText } from 'src/lib/rtf.js'
import * as fs from "src/lib/opfs";
import i18n from 'src/i18n';
import InfoFrame from 'src/components/InfoFrame.vue';
import { saveAs } from 'file-saver';
import { useRouter } from 'vue-router';
import { ref, computed } from 'vue'

const router = useRouter();
const compendium = useCompendium();
const editStore = useEditStore();
//const { } = storeToRefs(compendium)
const { tryLoadingContentPack } = compendium;
const { files, filePaths, dependency: synopsis, filesTree, selectedDefinitionFilename, selectedDefinitionFullName } = storeToRefs(editStore)
const { selectContentPack } = editStore;

function moveFile(node) {
  console.log(node);
  filePaths.value[node.label] = []
}

function deleteFile(node) {
  delete filePaths.value[node.label]
  delete files.value[node.label]
}

function editFile(node) {
  selectedDefinitionFilename.value = node.label;
  selectedDefinitionFullName.value = node.fullname;
  router.push({ name: "editdefinitionfile" })
}

function saveContentPack() {
  router.push({ name: "managecontent" });
  // Here, TODO actually pack the content pack and save it, then instead of pushing to managecontent, reload the app
  editStore.$reset();
}
</script>
