<template>
  <q-page v-if="selectedSave" class="q-ma-lg">
    <InfoFrame>
      <template v-slot:title>[In Expedition]</template>
      <template v-slot:infos>
        <p>[Here, you can look at the Explorers, change their state, start a new encounter, and go back to Precipice.]
        </p>
      </template>
      <template v-slot:buttons>
        <div class="col-12">
          <q-btn @click="endExpedition" outline style="width: 100%">[Go Back to Precipice]</q-btn>
        </div>
        <div class="col-12">
          <q-btn @click="openEncounterConfigurationDialog" outline style="width: 100%">[Start
            encounter]</q-btn>
        </div>
      </template>
    </InfoFrame>

    <div class="col-6 row q-py-md" style="min-height: 128px; align-content: baseline">
      <ExplorerSelectionCard class="col-lg-3 col-md-6 col-xs-12" v-for="explorerProfile in party"
        :key="explorerProfile.id" :profile="explorerProfile" :dead="deadExplorers.includes(explorerProfile)"
        :inspired="inspiredExplorers.includes(explorerProfile)" @click="selectedProfile = explorerProfile" />


      <div class="col-12" style="padding-top: 20px">
        <ExplorerProfile v-if="selectedProfile" :profile="selectedProfile" />
      </div>
    </div>

    <EncounterConfigurationDialog v-model="displayEncounterConfigurationDialog"
      @cancel="displayEncounterConfigurationDialog = false" @start="startEncounter" />
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { SAVE_STATUS, useSaveStore } from "src/stores/save"
import { useCompendium } from "src/stores/compendium";
import { useRouter } from 'vue-router';
import ExplorerSelectionCard from 'src/components/ExplorerSelectionCard.vue'
import ExplorerProfile from 'src/components/profiles/ExplorerProfile.vue'
import InfoFrame from 'src/components/InfoFrame.vue';
import EncounterConfigurationDialog from 'src/components/EncounterConfigurationDialog.vue'
import { useCombatStore } from 'src/stores/combat';
import { COMBAT_PHASES } from 'src/lib/combat_phases';

const router = useRouter();
const compendium = useCompendium();
const saveStore = useSaveStore();

const { selectedSave, party } = storeToRefs(saveStore)
const { explorerProfiles } = storeToRefs(compendium);
const { participatingHostiles, participatingExplorerIds, initiativeTrack, currentCombatPhase, currentEncounterType } = storeToRefs(useCombatStore())
const { loadNewRound } = useCombatStore();

const deadExplorers = computed(() => selectedSave.value.deadExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const inspiredExplorers = computed(() => selectedSave.value.inspiredExplorers.map(explorerId => explorerProfiles.value[explorerId]))

const selectedProfile = ref(null);
const displayEncounterConfigurationDialog = ref(false)

function endExpedition() {
  selectedSave.value.status = SAVE_STATUS.PLANNING_EXPEDITION;
  router.push({ name: "home" })
}

function openEncounterConfigurationDialog() {
  currentEncounterType.value = "default";
  participatingHostiles.value = [
    "traitor_guardsman",
    "traitor_guardsman",
    "traitor_guardsman",
  ]
  participatingExplorerIds.value = party.value.filter(p => !selectedSave.value.deadExplorers.includes(p.id)).map(p => p.id)
  displayEncounterConfigurationDialog.value = true;
  console.log("test")
}

function startEncounter() {
  initiativeTrack.value = []
  selectedSave.value.status = SAVE_STATUS.IN_COMBAT;
  loadNewRound(true);
  router.push({ name: "combat" })
}


</script>
