<template>
  <div class="fullscreen bg-blue-grey-10 text-white text-center q-pa-md flex flex-center">
    <img style="position: absolute; filter: blur(4px) brightness(0.2); width: 100vw" src="~assets/loading_bg.png" />
    <div style="position: absolute">
      <div style="font-size: 2.5rem">
        {{ currentLoadingStep }}
      </div>

      <div style="opacity:0.4; font-size: 2rem">
        {{ currentLoadingSubstep }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { useCompendium } from "stores/compendium"
import { storeToRefs } from "pinia";

const compendium = useCompendium();
const { currentLoadingStep, currentLoadingSubstep, loadingIssuesList } = storeToRefs(compendium);

compendium.loadCompendium();
</script>
