<template>
  <q-page>
    <q-banner inline-actions class="bg-yellow-8" v-if="limitedMode">
      [This application is currently running on a platform that doesn't support all its features (probably Safari &lt;
      15.2). You will be able to use it to play, but the following secondary features will be disabled:]
      <ul>
        <li>No offline mode</li>
        <li>All the content edition features are disabled</li>
        <li>You can only load new content packs via URL, not by providing a zip file</li>
      </ul>
    </q-banner>
    <div class="q-ma-lg">
      <div class="row">
        <div class="col-12">
          <InfoFrame>
            <template v-slot:title>[Manage Content]</template>
            <template v-slot:infos>
              <p>[Here, you can see which content packs are loaded in the app. You can also add new ones hosted online
                by
                URL, or load new ones from your local storage if you possess the zip file.]
              </p>
              <p>
                [Furthermore, this interface allows you to:]
              <ul>
                <li>[Update content packs you loaded via a URL]</li>
                <li>[Download zip file copies of any loaded content pack]</li>
                <li>[Create your own new content packs and edit them directly inside the app]</li>
                <li>[Download a modified version of any content pack, stripped of its content and only containing its
                  ids
                  and empty associated loc strings, ready
                  to be localized, in this app or using a third party]</li>
              </ul>
              </p>
            </template>
            <template v-slot:buttons>
              <div class="col-12">
                <div style="font-size: 1.1rem;" class="q-pb-sm">Settings:</div>
                <q-select dense :options="availableLanguages" :model-value="locale" @update:model-value="changeLocale"
                  emit-value map-options outlined />
              </div>
            </template>
          </InfoFrame>
        </div>
        <div class="col-12 q-pt-md">
          <div class="q-mb-md"> <span class="q-mr-sm" style="font-size: 1.1rem; align-content: center;">[Content
              packs]</span>
            <q-btn outline dense @click="updateContentPacks">[Update
              all content
              packs]</q-btn>
          </div>
          <q-card v-for="dependency in knownContentPacks" :key="dependency.name" class="q-my-xs">
            <q-card-section class="flex row">
              <div class="col-auto" style="font-size: 1rem; align-content: center;">
                {{ dependency.name }}: v{{
      dependency.version }} ({{ dependency.size }}, via {{ dependency.type
                }} <a :href="dependency.url">{{ dependency.url }})</a>
              </div>
              <div class="col gt-md flex" style="justify-content: right;">
                <q-btn outline class="q-ml-sm" @click="downloadZiPFile(dependency)">[Download local copy]</q-btn>
                <q-btn outline class="q-ml-sm" disabled>[Download strings version]</q-btn>
                <q-btn outline class="q-ml-sm" @click="duplicateContentPack(dependency)" disabled>[Create
                  duplicate]</q-btn>
                <q-btn outline class="q-ml-sm" @click="editContentPack(dependency)" disabled>[Edit
                  content]</q-btn>
                <q-btn outline class="q-ml-sm" @click="deleteContentPack(dependency)"
                  v-if="dependency.UUID !== 'base'">[Delete]</q-btn>
              </div>
              <div class="col text-right lt-lg">
                <q-btn round flat icon="more_vert">
                  <q-menu>
                    <q-list style="min-width: 100px">
                      <q-item clickable v-close-popup @click="downloadZiPFile(dependency)">
                        <q-item-section>[Download local copy]</q-item-section>
                      </q-item>
                      <q-item clickable disabled v-close-popup>
                        <q-item-section>[Download strings version]</q-item-section>
                      </q-item>
                      <q-separator />
                      <q-item clickable disabled v-close-popup>
                        <q-item-section>[Create duplicate]</q-item-section>
                      </q-item>
                      <q-item clickable disabled v-close-popup>
                        <q-item-section>[Edit content]</q-item-section>
                      </q-item>
                      <q-item clickable v-close-popup @click="deleteContentPack(dependency)"
                        v-if="dependency.UUID !== 'base'">
                        <q-item-section>[Delete]</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-xs-12 col-lg-5 q-pt-md q-pr-xs">
          <q-card>
            <q-card-section style="font-size: 1.1rem;">[Load new content pack]</q-card-section>
            <q-tabs v-model="tab" dense active-color="primary" indicator-color="primary" align="justify"
              narrow-indicator>
              <q-tab name="fromfile" label="[Load from file]" />
              <q-tab name="fromurl" label="[Load from URL]" />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="fromfile" class="row" v-if="!limitedMode">
                <div class="col">
                  <q-file outlined v-model="contentPackToLoad" label="[File]" accept=".zip" clearable>
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                </div>

                <q-btn outline @click="addContentPackFromFile">[Load content pack]</q-btn>
                <div class="col-12 q-pt-md">
                  <InfoFrame>
                    <template v-slot:title>[Loading from file]</template>
                    <template v-slot:infos>
                      <p>
                        [Pick the zip file of the content pack on your local storage, then click on the button to add it
                        to your loaded content packs.]
                      </p>
                      <p>[The name of a content pack/zip file must be unique, and the name listed inside the synopsis
                        file
                        must be the name of the file.]</p>
                    </template>
                  </InfoFrame>
                </div>
              </q-tab-panel>

              <q-tab-panel v-else name="fromfile" class="row flex justify-center">
                <div class="q-py-xl">
                  [This feature is disabled in limited mode.]
                </div>
              </q-tab-panel>

              <q-tab-panel name="fromurl" class="row">
                <div class="col">
                  <q-input outlined v-model="contentPackURLToLoad" label="URL" />
                </div>
                <q-btn outline @click="addContentPackFromURL">[Fetch content pack]</q-btn>
                <div class="col-12 q-pt-md">
                  <InfoFrame>
                    <template v-slot:title>[Adding from a URL]</template>
                    <template v-slot:infos>
                      <p>
                        [If a content pack is hosted online, you can provide a direct URL here. The application will
                        then try to fetch it, and store it locally. Even if the host stops providing the content pack,
                        your local copy will remain, and you can always click on the button next to it in the list to
                        download a zip copy of it.]
                      </p>
                      <p>
                        [The advantage of this method is that it allows the application to try and fetch the latest
                        version of the content pack using the same URL as the one used to first fetch it, by clicking
                        the "Update all content packs" button above the list.]
                      </p>
                      <p>[The name of a content pack/zip file must be unique, and the name listed inside the synopsis
                        file
                        must be the name of the file.]</p>
                    </template>
                  </InfoFrame>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </q-card>
        </div>
        <div class="col-xs-12 col-lg-7 q-mt-md q-pl-xs">
          <InfoFrame>
            <template v-slot:title>[Creating a new content pack]</template>
            <template v-slot:infos>
              <div class="q-pr-md">
                <p>
                  [You can create a new content pack by clicking this button, and then create all of its content inside
                  the application.]
                </p>
                <p>[Writing new content packs is a relatively easy thing to do thanks to the provided UIs. The current
                  format
                  allows you to create new:]
                <ul>
                  <li>[Explorer profiles, including their exalted version, with their stats, unique actions, special
                    rules,
                    weapon action table and special weapon rules]</li>
                  <li>[Hostile profiles, with their stats, special rules, behaviour situations, weapon action table and
                    special weapon rules]</li>
                  <li>[Hostile groups, met in encounters]</li>
                  <li>[Global special rules, unique actions, weapon action rules, behaviour situations, behaviours, that
                    any
                    profile can then reference, to avoid having to copy paste anything]</li>
                  <li>[Encounter types, allowing you to define custom event tables]</li>
                  <li>[Texts for any language. Definitions only define unique ids for weapons, rules, unique actions,
                    then
                    texts are the actual texts displayed based on the selected language.]</li>
                </ul>
                </p>
              </div>
            </template>
            <template v-slot:buttons>
              <div class="row" v-if="!limitedMode">
                <div class="col-12 q-pb-sm">
                  <q-input outlined v-model="newContentPackName" label="Name" />
                </div>
                <q-btn style="width: 100%" class="q-mb-sm" outline>Create new content pack</q-btn>
              </div>
              <div v-else class="q-pa-xl">
                [This feature is disabled in limited mode.]
              </div>
            </template>
          </InfoFrame>
        </div>

        <div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useCompendium, DEPENDENCY_TYPE } from 'src/stores/compendium';
import { useEditStore } from 'src/stores/edit';
import { storeToRefs } from 'pinia';
import { parseRichText } from 'src/lib/rtf.js'
import * as fs from "src/lib/opfs";
import i18n from 'src/i18n';
import InfoFrame from 'src/components/InfoFrame.vue';
import { saveAs } from 'file-saver';
import { useRouter } from 'vue-router';
import { ref } from 'vue'
import { v4 as uuid } from 'uuid';
import { getSynopsis, readContentPack, getValidCopyName } from 'src/lib/contentpack';
import { getContentPackArchive } from 'src/lib/contentpack';

const router = useRouter();
const editStore = useEditStore();
const compendium = useCompendium();
const { limitedMode, knownContentPacks, availableLanguages, shouldUpdateContentPacks, shouldStartupOnManagement } = storeToRefs(compendium)
const { tryLoadingContentPack } = compendium;
const { selectContentPack } = useEditStore();


const { locale } = i18n.global;

const tab = ref('fromfile');
const contentPackToLoad = ref(null);
const contentPackURLToLoad = ref("");

const newContentPackName = ref("My content pack");
const newContentPackAuthor = ref("");

function changeLocale(newLocale) {
  locale.value = newLocale
  localStorage.setItem("bfc:locale", newLocale);
}

async function downloadZiPFile(synopsis) {
  console.log(synopsis.filename)
  const zipBlob = new Blob([await fs.readFile(`content/${synopsis.filename}.zip`)]);
  saveAs(zipBlob, `${synopsis.filename}.zip`)
}

function updateContentPacks() {
  compendium.$reset()
  shouldUpdateContentPacks.value = true;
  shouldStartupOnManagement.value = true;
  router.push({ name: 'loading' })
}

function addContentPackFromFile() {
  if (!contentPackToLoad.value) return;

  console.log("New content pack:", contentPackToLoad.value, contentPackToLoad.value.name);

  const reader = new FileReader();
  reader.onload = async function (e) {
    const blob = new Blob([new Uint8Array(e.target.result)], { type: contentPackToLoad.value.type });
    await addContentPack(blob);
  };
  reader.readAsArrayBuffer(contentPackToLoad.value);
}

async function addContentPackFromURL() {
  const res = await fetch(contentPackURLToLoad.value);
  const blob = await res.blob();
  await addContentPack(blob);
}

async function addContentPack(blob, dependency) {
  try {
    const contentPack = await readContentPack(blob);
    const synopsis = await getSynopsis(contentPack);
    dependency = dependency ?? {
      UUID: uuid(),
      filename: contentPackToLoad.value.name,
      name: synopsis.name,
      version: synopsis.version,
      type: DEPENDENCY_TYPE.FILE,
      enabled: true,
    }

    if (!limitedMode.value) {
      await fs.mkdir(`content/${dependency.UUID}`);
      await fs.writeFile(
        `content/${dependency.UUID}/dependency.json`,
        JSON.stringify(
          dependency,
          undefined,
          2
        )
      );
      await fs.writeFile(`content/${dependency.UUID}/${dependency.filename}`, blob);
    }
    localStorage.setItem("bfc:contentpacks", JSON.stringify([...knownContentPacks.value, dependency]))

    compendium.$reset()
    shouldStartupOnManagement.value = true;
    router.push({ name: 'loading' })

  } catch (err) {
    console.log("Failed to load the given content pack. Reason:", err)
  }
  contentPackToLoad.value = null;
}

async function deleteContentPack(dependency) {
  knownContentPacks.value = knownContentPacks.value.filter(f => f.name !== dependency.name);

  if (!limitedMode.value) {
    await fs.removeFile(`content/${dependency.UUID}/${dependency.filename}`);
    await fs.removeFile(`content/${dependency.UUID}/dependency.json`);
    await fs.rmdir(`content/${dependency.UUID}`);
  }
  localStorage.setItem("bfc:contentpacks", JSON.stringify(knownContentPacks.value))
  compendium.$reset()
  shouldStartupOnManagement.value = true;
  router.push({ name: 'loading' })
}

async function editContentPack(dependency) {
  editStore.$reset();
  await selectContentPack(dependency);
  router.push({ name: "editcontentpack" })
}

async function duplicateContentPack(dependency) {
  const blob = await getContentPackArchive(dependency);
  const newDependency = {
    ...dependency,
    UUID: uuid(),
    name: getValidCopyName(dependency.name),
    type: DEPENDENCY_TYPE.FILE
  }
  const zip = await readContentPack(blob);
  zip.writeFile('synopsis.json', {
    name: dependency.name,
    version: 1
  })

  console.log("New dependency:", newDependency)
  await addContentPack(blob, newDependency);
}
</script>
