<template>
  <q-page v-if="selectedSave" class="q-ma-lg">
    <InfoFrame>
      <template v-slot:title>[At Precipice]</template>
      <template v-slot:infos>
        <p>[Click on four Explorers to assemble your party, then click on Start Expedition.]</p>
        <p>[You can use the "Edit Character List" button to change the list of Explorers available. By default, only the
          Explorers of the base game are enabled.]</p>
      </template>
      <template v-slot:buttons>
        <div class="col-12">
          <q-btn outline @click="enablingCharacters = !enablingCharacters" class="q-mr-xs q-col-6" style="width: 100%">
            {{ enablingCharacters ? "[Stop editing character list]" : "[Edit character list]" }}</q-btn>
        </div>
        <div class="col-12">
          <q-btn outline :disabled="selectedSave.party.length != 4" @click="startExpedition" style="width: 100%">[Start
            Expedition]</q-btn>
        </div>
      </template>
    </InfoFrame>
    <div class="row q-py-md" style="min-height: 128px; ">
      <ExplorerSelectionCard class="col-lg-3 col-md-6 col-xs-12" v-for="explorerProfile in playedExplorers"
        :key="explorerProfile.id" :profile="explorerProfile" :enabling="enablingCharacters"
        :dead="deadExplorers.includes(explorerProfile)" :inspired="inspiredExplorers.includes(explorerProfile)"
        :selected="selectedExplorers.includes(explorerProfile)" @dead="cleanup(explorerProfile.id)" editing-party
        @click="toggleParty(explorerProfile)" />
    </div>
    <hr v-if="enablingCharacters">
    <div class="row q-py-md" style="min-height: 128px" v-if="enablingCharacters">
      <ExplorerSelectionCard class="col-sm-6 col-md-3 col-xs-12" v-for="explorerProfile in disabledExplorers"
        :key="explorerProfile.id" :profile="explorerProfile" :enabling="enablingCharacters" :enabled="false" />
    </div>
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { SAVE_STATUS, useSaveStore } from "src/stores/save"
import { useCompendium } from "src/stores/compendium";
import { useRouter } from 'vue-router';
import ExplorerSelectionCard from 'src/components/ExplorerSelectionCard.vue'
import InfoFrame from 'src/components/InfoFrame.vue'

const router = useRouter();
const compendium = useCompendium();
const saveStore = useSaveStore();

const { selectedSave } = storeToRefs(saveStore)
const { explorerProfiles, noninspiredExplorers } = storeToRefs(compendium);

const enablingCharacters = ref(false);

const playedExplorers = computed(() => selectedSave.value.playedExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const selectedExplorers = computed(() => selectedSave.value.party.map(explorerId => explorerProfiles.value[explorerId]))
const deadExplorers = computed(() => selectedSave.value.deadExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const inspiredExplorers = computed(() => selectedSave.value.inspiredExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const disabledExplorers = computed(() => Object.values(noninspiredExplorers.value).filter(profile => {
  return !selectedSave.value.playedExplorers.includes(profile.id) && !selectedSave.value.playedExplorers.includes(profile.id + "__inspired")
})
)

function cleanup(profileId) {
  selectedSave.value.party = selectedSave.value.party.filter(id => id !== profileId)
}

function startExpedition() {
  selectedSave.value.status = SAVE_STATUS.IN_EXPEDITION
  router.push({ name: "expedition" })
}

function toggleParty(profile) {
  if (enablingCharacters.value) return;
  if (selectedExplorers.value.includes(profile)) removeFromParty(profile);
  else addToParty(profile);
}

function removeFromParty(profile) {
  selectedSave.value.party = selectedSave.value.party.filter(id => id !== profile.id)
}

function addToParty(profile) {
  if (selectedSave.value.party.length === 4) return;
  selectedSave.value.party.push(profile.id)
}
</script>
