<template>
  <q-page v-if="selectedSave" class="q-ma-lg">
    <div>
      [Enable more or less Explorers as part of the campaign. Select a number of Explorers in order to start a new
      expedition.]
    </div>
    <div>
      <q-btn @click="enablingCharacters = !enablingCharacters">
        {{ enablingCharacters ? "[Stop editing character list]" : "[Edit character list]" }}</q-btn>

      <q-btn :disabled="selectedSave.party.length === 0" @click="startExpedition">[Start Expedition]</q-btn>
    </div>

    <div v-if="selectedSave.playedExplorers.length === 0 && !enablingCharacters">
      [Use the button above to add Explorers to the campaign.]
    </div>
    <div class="row q-py-md" style="min-height: 128px; ">
      <ExplorerSelectionCard class="col-lg-3 col-md-6 col-xs-12" v-for="explorerProfile in playedExplorers"
        :key="explorerProfile.id" :profile="explorerProfile" :enabling="enablingCharacters"
        :dead="deadExplorers.includes(explorerProfile)" :exalted="inspiredExplorers.includes(explorerProfile)"
        :selected="selectedExplorers.includes(explorerProfile)" @dead="cleanup(explorerProfile.id)" editing-party />
    </div>
    <hr v-if="enablingCharacters">
    <div class="row q-py-md" style="min-height: 128px" v-if="enablingCharacters">
      <ExplorerSelectionCard class="col-sm-4 col-md-3 col-xs-6" v-for="explorerProfile in disabledExplorers"
        :key="explorerProfile.id" :profile="explorerProfile" :enabling="enablingCharacters" :enabled="false" />
    </div>
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { SAVE_STATUS, useSaveStore } from "src/stores/save"
import { useCompendium } from "src/stores/compendium";
import { useRouter } from 'vue-router';
import ExplorerSelectionCard from 'src/components/ExplorerSelectionCard.vue'


const router = useRouter();
const compendium = useCompendium();
const saveStore = useSaveStore();

const { selectedSave } = storeToRefs(saveStore)
const { explorerProfiles, nonInspiredExplorers } = storeToRefs(compendium);

const enablingCharacters = ref(false);

const playedExplorers = computed(() => selectedSave.value.playedExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const selectedExplorers = computed(() => selectedSave.value.party.map(explorerId => explorerProfiles.value[explorerId]))
const deadExplorers = computed(() => selectedSave.value.deadExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const inspiredExplorers = computed(() => selectedSave.value.inspiredExplorers.map(explorerId => explorerProfiles.value[explorerId]))
const disabledExplorers = computed(() => Object.values(nonInspiredExplorers.value).filter(profile => !selectedSave.value.playedExplorers.includes(profile.id))
)

function cleanup(profileId) {
  selectedSave.value.party = selectedSave.value.party.filter(id => id !== profileId)
}

function startExpedition() {
  selectedSave.value.status = SAVE_STATUS.IN_EXPEDITION
  router.push({ name: "expedition" })
}
</script>
