<template>
  <q-page class="q-ma-lg">
    <div>{{ $t('ui.saveSelection.picksave') }}</div>
    <ul>
      <li v-for="save in saves" :key="save.id">
        <q-btn @click="selectSave(save)">{{ save.name }}</q-btn>
      </li>
    </ul>
    <q-btn @click="createNewSave">{{ $t('ui.saveSelection.createnewsave') }}</q-btn>
  </q-page>
</template>

<script setup>
import { useSaveStore } from "src/stores/save"
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router'

const router = useRouter();

const saveStore = useSaveStore();
const { saves, selectedSave } = storeToRefs(saveStore)
const { createNewSave, } = saveStore;

function selectSave(save) {
  console.log("save:", selectedSave);
  selectedSave.value = { ...save };
  router.push({ name: 'home' })
}
</script>
