<template>
  <img class="dice" :src="resultIcon" />
</template>
<script>
export default {
  props: {
    result: {
      type: String,
      default: 'miss'
    },

    type: {
      type: String,
      default: 'SQUARE'
    }
  },

  computed: {
    resultIcon() {
      return `symbols/${this.type.toLowerCase()}_${this.result}.png`
    }
  }
}
</script>
<style lang="scss" scoped>
.dice {
  width: 48px;
  user-select: none;
}
</style>
