<template>
  <table border="1" style="width: 100%" class="text-center">
    <thead>
      <tr style="background: #101d27; color: white">
        <td colspan="1000">[Behaviour Table]</td>
      </tr>
    </thead>
    <tr class="text-center">
      <td width="10%" style="font-weight: 700">[Roll]</td>
      <td width="10%" v-for="(header, index) in profile.behaviourTable.cases" :key="index">
        <!-- <BehaviourRollHeader :header="header" /> -->
        <div style="font-weight: 700; text-transform: uppercase;">{{ getBehaviourSituationName(profile.id, header) }}
        </div>
        <div style="font-style: italic">{{ getBehaviourSituationDescription(profile.id, header) }}</div>
      </td>
    </tr>
    <tr v-for="(actions, index) in profile.behaviourTable.rows" :key="index"
      :class="{ 'active': behaviourBlackstoneDice >= rollRanges[index][0] && behaviourBlackstoneDice <= rollRanges[index][1] }">
      <td style="font-weight: 700">{{ rolls[index] }}</td>
      <td v-for="(action, actionIndex) in actions" :key="actionIndex">
        {{ getUniqueBehaviourName(profile.id, action) }}
      </td>
    </tr>
  </table>
  <div v-if="profile.behaviourTable.uniqueBehaviours">
    <div class="section-title q-pb-sm">[Unique Behaviours]</div>
    <div v-for="uniqueBehaviour in  profile.behaviourTable.uniqueBehaviours" :key="uniqueBehaviour" class="q-mb-sm">
      <span style="font-weight: 500" v-html="parseRichText(getUniqueBehaviourName(profile.id, uniqueBehaviour))"></span>
      :
      <span v-html="parseRichText(getUniqueBehaviourDescription(profile.id, uniqueBehaviour))"></span>
    </div>
  </div>
</template>
<script setup>
import { useCombatStore } from 'src/stores/combat';
import { storeToRefs } from 'pinia'
import { getUniqueBehaviourName, getUniqueBehaviourDescription, getBehaviourSituationName, getBehaviourSituationDescription } from 'src/i18n';
import { parseRichText } from 'src/lib/rtf';
const combat = useCombatStore();
const { behaviourBlackstoneDice } = storeToRefs(combat);

const props = defineProps({ profile: Object })

const rolls = ['1-3', '4-6', '7-9', '10-12', '13-15', '16-19', '20']
const rollRanges = [
  [1, 3],
  [4, 6],
  [7, 9],
  [10, 12],
  [13, 15],
  [16, 19],
  [20, 20]
]
</script>
<style lang="scss" scoped>
table {
  border-collapse: collapse;
}

thead,
th,
td {
  border: 1px solid #101d27;
  padding: 6px;
}

table tr.active {
  background-color: #82748d;
  color: white;
}

.section-title {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}
</style>
