<template>
  <div class="dice" :style="diceStyle">
    <div class="dice-value" v-show="result">{{ result }}</div>
  </div>
</template>
<script setup>
import { computed } from 'vue';

const props = defineProps(['result']);
const diceStyle = computed(() => ({
  backgroundImage: 'url("symbols/blackstone.png")'
}))

</script>
<style lang="scss" scoped>
.dice {
  width: 48px;
  display: inline-block;
  background-origin: 0 0;
  background-size: 48px 48px;
  height: 48px;
  user-select: none;
}

.dice-value {
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}
</style>
