<template>
  <div @click="roll" :class="{ 'roller': true, 'rolling': rolling }">
    <ActionDice v-if="type !== 'BLACKSTONE'" :type="type" :result="valueAsHitResult" class="q-mx-xs" />
    <ActionDice v-if="type !== 'BLACKSTONE' && secondValue > 0" :type="type" class="q-mx-xs"
      :result="secondValueAsHitResult" />

    <BlackstoneDice v-if="type === 'BLACKSTONE'" :result="value" />
    <BlackstoneDice v-if="type === 'BLACKSTONE' && secondValue > 0" :result="secondValue" />
  </div>
</template>
<script setup>
import { ref, computed, nextTick } from 'vue';
import BlackstoneDice from 'src/components/BlackstoneDice.vue'
import ActionDice from 'src/components/ActionDice.vue'
import { rollValue, convertValueToHitResult } from 'src/lib/dices'

const props = defineProps({
  type: { type: String, default: 'SQUARE' }
})

const emit = defineEmits(['roll'])

const rolling = ref(false);
const value = ref(0)
const secondValue = ref(0);
const timeoutId = ref(null);

const valueAsHitResult = computed(() => {
  return convertValueToHitResult(props.type, value.value)
})
const secondValueAsHitResult = computed(() => {
  return convertValueToHitResult(props.type, secondValue.value)
})

function roll() {
  if (!timeoutId.value) {
    timeoutId.value = setTimeout(() => {
      value.value = rollValue(props.type)
      secondValue.value = 0
      timeoutId.value = null
      rolling.value = true;
      setTimeout(() => rolling.value = false, 100)
      emit('roll', value.value)
    }, 200)
  } else {
    clearTimeout(timeoutId.value)
    timeoutId.value = null
    value.value = rollValue(props.type)
    secondValue.value = rollValue(props.type)
    rolling.value = true;
    setTimeout(() => rolling.value = false, 100)
  }
}
</script>
<style lang="scss">
.roller {
  cursor: pointer;
  height: 63px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  opacity: 100%;
  transition: opacity 0.5s, transform 0.3s;
  transform: translate(0px, 0px);

  &.rolling {
    opacity: 0%;
    transition: opacity 0s;
    background-color: red;
    transform: translate(0px, 10px);
  }
}
</style>
