<template>
  <q-dialog :value="true" persistent>
    <q-card style="width: 700px; max-width: 90vw; background-color: #e0e5e1">
      <q-card-section class="q-pb-none">
        <div class="text-h5 text-center">Welcome on the Blackstone Fortress Companion App!</div>
      </q-card-section>
      <q-card-section>
        <div class="text-justify q-mb-md bg-grey-10 text-white q-pa-sm" style="border: 2px solid grey">
          <div style="font-size: 1rem" class="q-pb-sm">Legal disclaimer:</div>
          This is a community driven unofficial application. It is in no way endorsed by Games Workshop. The Blackstone
          Fortress trademark is property of Games Workshop. The base content art used in this application is property of
          Games Workshop. Content pack writers are responsible of the content they put into their own content packs.
        </div>
        <div class="text-justify q-ma-sm bg-grey-4 q-pa-sm" style="border: 2px solid grey">
          <div style="font-size: 1rem" class="q-pb-sm">Info:</div>
          <p>
            This application is a work in progress. On first start, the application tries to download a base content
            pack, describing what you need to use it along the base game. After that, feel free to install it as a PWA
            to use it offline.
          </p>
          <p>
            Text in square brackets is there to help me differenciate between hardcoded strings I need to
            localize and already localized strings. Don't pay attention to that detail, the square brackets should be
            gone fairly soon.
          </p>
          <p>
            <b>Content edition and creation via the app is disabled for now, but should be available soon</b>. My aim is
            to provide an easy interface to allow people to create new content packs with zero tech knowledge, as well
            as export these custom profiles as PNG cards as identical to the official ones as possible.
          </p>
          <p>
            In the meantime, the more tech savvy can go in the content management interface (the cog in the top right
            corner), download a copy of the base content, and look at how the format works. It's really just images in
            the right folder, and JSON files describing everything. The app already supports adding new content packs by
            providing it zip files directly or URLs.
          </p>
          <p>Also, the entire source code of this app is open source, <a href="https://gitlab.com/Genroa/bfcompanion"
              target="_blank">available here.</a>
          </p>
          <p>Have fun!</p>
          <p>Genroa</p>
        </div>
      </q-card-section>
      <q-card-actions style="justify-content: center; display: flex;" class="q-pb-md">
        <q-btn color="primary" size="lg" v-close-popup>
          Ok
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
</script>
