<template>
  <q-dialog :value="value">
    <q-card style="width: 1200px; max-width: 90vw; background-color: #e0e5e1">
      <q-card-section>
        <InfoFrame :allow-shrink="false">
          <template v-slot:title>[New Encounter]</template>
          <template v-slot:infos>[Here, you can pick the hostile groups you're facing, which Explorer will
            participate to the combat, and the encounter type.]</template>
        </InfoFrame>
        <div class="row">
          <div class="col-12 q-pt-md">[Encounter Type]</div>
          <div class="col-12">
            <q-select style="width:100%" dense :options="availableEncounterTypes" v-model="currentEncounterType"
              @update:model-value="setPredeterminedHostileGroups" emit-value map-options outlined />
          </div>

          <div class="col-12 q-pt-md">[Hostiles]</div>
          <div class="col-xs-12 col-sm-6" v-for="(group, i) in participatingHostiles" :key="i">
            <q-select @clear="deleteGroup(i)" autocomplete :clearable="participatingHostiles.length > 1" outlined dense
              :model-value="group" @update:model-value="setCurrentGroup($event, i)" :options="groupOptions" emit-value
              map-options />
          </div>
          <div class="col-12 q-pt-sm">
            <q-btn style="width: 100%" outline :disabled="participatingHostiles.length === 4"
              @click="participatingHostiles.push('traitor_guardsman')">[Add
              group]</q-btn>
          </div>

          <div class="col-12 q-pt-md">[Explorers]</div>
          <div class="q-gutter-xs col-12">
            <q-chip v-for="explorerId in selectedSave.party" clickable :key="explorerId"
              :outline="!participatingExplorerIds.includes(explorerId)" color="primary" text-color="white" icon="close"
              :selected="participatingExplorerIds.includes(explorerId)" @click="toggleExplorer(explorerId)">
              {{ getProfileName(explorerId) }}
            </q-chip>
          </div>
        </div>
      </q-card-section>
      <q-card-actions style="justify-content: center; display: flex;" class="q-pb-md">
        <q-btn size="lg" @click="$emit('cancel')">[Cancel]</q-btn>
        <q-btn color="primary" size="lg" @click="$emit('start')"
          :disabled="participatingExplorerIds.length === 0 || participatingHostiles.length === 0">
          [Start encounter]
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
import { ref, computed } from 'vue';
import { storeToRefs } from 'pinia';
import { useCombatStore } from 'src/stores/combat';
import i18n, { getProfileName, tfallback } from "src/i18n";
import InfoFrame from 'src/components/InfoFrame.vue';
import { useCompendium } from 'src/stores/compendium';
import { useSaveStore } from 'src/stores/save';
import { getHostileGroupLabel } from 'src/i18n'

const props = defineProps({ value: Boolean })
const emit = defineEmits(['cancel', 'start']);

const combatStore = useCombatStore()
const { participatingHostiles, participatingExplorerIds, currentEncounterType } = storeToRefs(combatStore);
const { selectedSave } = storeToRefs(useSaveStore());
const { hostileGroups, encounterTypes } = storeToRefs(useCompendium())

const groupOptions = computed(() => {
  const groups = Object.values(hostileGroups.value).map(o => ({ label: getHostileGroupLabel(o), value: o.id, profiles: o.profiles }));
  groups.sort((a, b) => a.label.localeCompare(b.label));
  return groups;
})

const availableEncounterTypes = computed(() => {
  return Object.keys(encounterTypes.value).map((id) => ({ label: i18n.global.t(`encounterTypes.${id}.name`), value: id }));
})

function generateGroupLabel({ id, profiles }) {
  let label = i18n.global.t(`hostileGroups.${id}`);
  if (label === `hostileGroups.${id}`) {
    label = profiles.map(p => tfallback(`hostileGroups.${p}`, `hostileProfiles.${p}.name`)).join(" & ")
  }
  return label;
}

function setCurrentGroup(group, i) {
  participatingHostiles.value[i] = group;
}

function deleteGroup(i) {
  participatingHostiles.value.splice(i, 1)
}

function toggleExplorer(explorerId) {
  if (participatingExplorerIds.value.includes(explorerId)) participatingExplorerIds.value = participatingExplorerIds.value.filter(id => id !== explorerId)
  else participatingExplorerIds.value.push(explorerId)
}

function setPredeterminedHostileGroups(newEncounterType) {
  currentEncounterType.value = newEncounterType;
  console.log(currentEncounterType.value)
  const encounter = encounterTypes.value[currentEncounterType.value];
  if (encounter.hostileGroups) participatingHostiles.value = [...encounter.hostileGroups]
}
</script>
<style lang="scss" scoped></style>
