<template>
  <div class="q-pa-xs">
    <q-card :class="{ 'selected': selected }">
      <div v-if="dead" class="death-stamp">☠</div>
      <div :class="{ 'background': true, 'not-played': !enabled, 'dead': dead, 'inspired': inspired }"
        :style="customBackgroundGradient">
      </div>
      <div class="content" @click="emit('click')">
        <div class="name">{{ getProfileName(profile.id) }}</div>
        <div class="title">{{ getExplorerTitle(profile.id) }}</div>
        <div class="actions" v-if="enabling && !cosmetic">
          <q-btn v-if="selectedSave.playedExplorers.includes(profile.id)" dense outline @click="removeFromCampaign"
            class="bg-white">[Remove
            from
            campaign]</q-btn>
          <q-btn v-else dense outline @click="addToCampaign" class="bg-white">[Add to campaign]</q-btn>
        </div>
        <div class="actions" v-else>
          <!-- Inspire -->
          <q-btn v-if="inspired" dense outline class="q-mr-xs bg-white" @click.prevent="resetExplorerInspiration"
            :disable="cosmetic">[Reset
            Inspiration]</q-btn>
          <q-btn v-else :disabled="dead || cosmetic" dense outline class="q-mr-xs bg-white"
            @click.prevent="inspireExplorer">[Inspire]</q-btn>

          <!-- Dead -->
          <q-btn v-if="selectedSave.deadExplorers.includes(profile.id)" dense outline @click.prevent="reviveExplorer"
            class="bg-white" :disable="cosmetic">[Mark
            Alive]</q-btn>
          <q-btn v-else dense outline @click.prevent="killExplorer" class="bg-white" :disable="cosmetic">[Mark
            Dead]</q-btn>
        </div>
      </div>
    </q-card>
  </div>
</template>
<script setup>
import { useCompendium } from 'src/stores/compendium';
import { storeToRefs } from 'pinia';
import { useSaveStore } from 'src/stores/save';
import { computed } from 'vue'
import { getProfileName, getExplorerTitle } from 'src/i18n'

const saveStore = useSaveStore();
const compendium = useCompendium();
const { images, styles } = storeToRefs(compendium);
const { selectedSave } = storeToRefs(saveStore);

const props = defineProps({
  editingParty: { type: Boolean, default: false },
  cosmetic: { type: Boolean, default: false },
  image: String,
  profile: Object,
  enabling: Boolean,
  enabled: { type: Boolean, default: true },
  dead: { type: Boolean, default: false },
  selected: { type: Boolean, default: false }
})

const emit = defineEmits(['dead', 'click'])

function removeFromCampaign(evt) {
  selectedSave.value.playedExplorers = selectedSave.value.playedExplorers.filter(id => id !== props.profile.id)
  removeFromParty(evt);
  resetExplorerInspiration(evt);
  reviveExplorer(evt);
}

function addToCampaign() {
  selectedSave.value.playedExplorers.push(props.profile.id)
}

function resetExplorerInspiration(evt) {
  const spotInParty = selectedSave.value.party.indexOf(props.profile.id);
  if (spotInParty !== -1) selectedSave.value.party[spotInParty] = props.profile.id.slice(0, -10)

  const spotInPlayable = selectedSave.value.playedExplorers.indexOf(props.profile.id);
  if (spotInPlayable !== -1) selectedSave.value.playedExplorers[spotInPlayable] = props.profile.id.slice(0, -10)

  evt.stopPropagation();
}

function inspireExplorer(evt) {
  if (props.dead) return;

  const spotInParty = selectedSave.value.party.indexOf(props.profile.id);
  if (spotInParty !== -1) selectedSave.value.party[spotInParty] = `${props.profile.id}__inspired`

  const spotInPlayable = selectedSave.value.playedExplorers.indexOf(props.profile.id);
  if (spotInPlayable !== -1) selectedSave.value.playedExplorers[spotInPlayable] = `${props.profile.id}__inspired`

  evt.stopPropagation();
}

function reviveExplorer(evt) {
  selectedSave.value.deadExplorers = selectedSave.value.deadExplorers.filter(id => id !== props.profile.id)
  evt.stopPropagation();
}

function killExplorer(evt) {
  let profileId = props.profile.id;
  if (inspired.value) {
    resetExplorerInspiration(evt);
    profileId = props.profile.id.slice(0, -10)
  }
  selectedSave.value.deadExplorers.push(profileId);

  evt.stopPropagation();
  emit('dead')
}

function removeFromParty() {
  selectedSave.value.party = selectedSave.value.party.filter(id => id !== props.profile.id)
}

const inspired = computed(() => {
  return props.profile.id.endsWith("__inspired")
})

const customBackgroundGradient = computed(() => {
  const profileId = props.profile.id.endsWith('__inspired') ? props.profile.id.slice(0, -10) : props.profile.id
  const backgroundColor = inspired.value ? '200, 240, 255' : '255, 255, 255'
  const image = props.image || images.value[`explorer.${profileId}`]

  const style = styles.value?.explorerSelectionCards?.[profileId] ?? {}

  return { background: `linear-gradient(to right, rgba(${backgroundColor}, 255) 0, rgba(${backgroundColor}, 1) calc(100% - 250px), rgba(${backgroundColor}, 0) calc(100% - 100px)), url(${image}) top right no-repeat`, ...style }
})

</script>
<style lang="scss" scoped>
$card-height: 100px;

.q-card {
  position: relative;
  height: $card-height;
  cursor: pointer;
  outline: 1px solid black;

  &.selected {
    outline: 2px solid #001d36;
    box-shadow: 0 0 3px 4px #001d36;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $card-height;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    z-index: 1;

    &.not-played {
      filter: grayscale(100%) contrast(0.5) brightness(1.3)
    }

    &.dead {
      filter: grayscale(1) contrast(0.4) brightness(1.3)
    }
  }

  .death-stamp {
    position: absolute;
    right: 10px;
    top: -1.5rem;
    z-index: 2;
    font-size: 6rem;
    opacity: 50%;
    color: red;
    transform: rotate(20deg);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $card-height;
    z-index: 2;
    padding: 10px;

    .name {
      font-size: 1.2rem;
      line-height: 1.05rem;
      font-weight: 600;
      cursor: pointer;
    }

    .title {
      font-size: 0.8rem;
      font-style: italic;
    }

    .actions {
      margin-top: 14px;
    }
  }
}
</style>
