<template>
  <q-card class="mx-1 card" style="height: 100px; width: 100px">
    <div class="filter" :style="backgroundStyle"></div>
    <div class="row content">
      <span v-if="fighter.type === 'explorer'">
        {{ getProfileName(fighter.profile) }}
      </span>
      <span v-else>
        {{ getHostileGroupLabel(fighter) }}
        <!-- ({{ fighter.group }}) -->
      </span>
    </div>
  </q-card>
</template>
<script setup>
import { getExplorerArt, getProfileName, getHostileArt, getHostileGroupLabel } from 'src/i18n'
import { computed } from 'vue';
import { storeToRefs } from 'pinia';
import { useCompendium } from 'src/stores/compendium'

const props = defineProps({
  active: {
    type: Boolean,
    default: false
  },
  image: String,
  fighter: {
    type: Object,
    default: () => ({})
  }
})

const backgroundStyle = computed(() => {
  const filter = true/*props.active*/
    ? 'grayscale(20%) brightness(80%)'
    : 'grayscale(80%) contrast(50%) brightness(80%)'
  const border = props.active
    ? '0px 0px 4px 3px rgba(0,0,0,1)'
    : ''

  let profileId = props.fighter.profile;
  if (props.fighter.type === 'hostile' && props.fighter.profiles.length === 1) profileId = props.fighter.profiles[0];
  if (profileId.endsWith("__inspired")) profileId = profileId.slice(0, -10)

  const image = props.image ?? (props.fighter.type === 'explorer' ? getExplorerArt(profileId) : /*getHostileArt(profileId)*/ `symbols/discovery_${props.fighter.group}.png`)
  const backgroundImage = 'url(' + image + ')'

  const { styles } = storeToRefs(useCompendium());
  const style = styles.value.explorerCombatCards[profileId] ?? {}

  return {
    backgroundImage,
    filter,
    'box-shadow': border,
    'background-position-x': 'center',
    'background-position-y': 'center',
    ...(props.fighter.type === 'hostile' ? {
      backgroundSize: '100%',
      backgroundRepeat: 'no-repeat',
      'background-position-y': '2px'
    } : {}),
    ...style
  }
})
</script>
<style lang="scss" scoped>
.card {
  position: relative;
  cursor: pointer;

  .filter {
    position: absolute;
    width: 100%;
    height: 100px;
    background: white;
  }

  .content {
    position: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-shadow:
      1px 1px 0 #000,
      -1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
    color: white;

    >* {
      position: relative;
    }
  }
}
</style>
