<template>
  <div class="info-frame row">
    <div class="col-12 text-h6 q-pt-none q-mt-none q-pb-sm flex">
      <div>
        <slot name="title"></slot>
      </div>
      <q-space />
      <div style="height: 24px" v-if="allowShrink">
        <q-btn size="sm" flat @click="displayInfos = !displayInfos">
          {{ displayInfos ? 'Shrink' : 'Expand' }}
        </q-btn>
      </div>
    </div>
    <div class="col-sm-8 col-xs-12 q-pb-xs" v-show="displayInfos" v-if="$slots.buttons">
      <slot name="infos"></slot>
    </div>
    <div v-else class="col-12 q-pb-xs" v-show="displayInfos">
      <slot name="infos"></slot>
    </div>
    <div class="col-sm-4 col-xs-12 row buttons">
      <slot name="buttons"></slot>
    </div>
  </div>
</template>
<script setup>
import { ref } from 'vue'

const props = defineProps({
  allowShrink: Boolean
})

const displayInfos = ref(true);
</script>
<style lang="scss" scoped>
.info-frame {
  position: relative;
  padding: 10px 20px 15px 20px;
  background: white;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));

  .buttons {
    align-items: center;
    align-content: baseline;
  }
}

.info-frame:before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px), 0 0, 1px 1px, 1px calc(100% - 20px - 0.41px), calc(20px + 0.41px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) calc(20px + 0.41px), calc(100% - 20px - 0.41px) 1px, 1px 1px);
}
</style>
