<template>
  <!-- <div class="initiative-track" ref="initiativeTrackElement"> -->
  <q-resize-observer @resize="updateKnownWidth" />
  <q-scroll-area :style="{ height: '120px', 'min-width': 'min(100%, ' + (initiativeTrack.length * 110) + 'px)' }"
    @scroll="updateScrollPosition" class="initiative-track" ref="initiativeTrackElement">
    <div class="row no-wrap q-py-sm">
      <div class="arrow left" v-if="displayArrows && displayLeftArrow" @click="moveLeft">
        <q-icon name="arrow_back_ios" />
      </div>
      <div v-for="(fighterData, index) in initiativeTrack" :key="index">
        <FighterCard :active="index === activeFighterIndex" :fighter="fighterData"
          style="margin-left: 5px; margin-right: 5px" />
      </div>
      <div class="arrow right" v-if="displayArrows && displayRightArrow" @click="moveRight">
        <q-icon name="arrow_forward_ios" />
      </div>
    </div>
  </q-scroll-area>
  <!-- </div> -->
</template>
<script setup>
import { computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useCombatStore } from 'src/stores/combat';
import FighterCard from "src/components/FighterCard.vue"
import { watch } from 'vue';

const combat = useCombatStore();
const { initiativeTrack, currentCombatPhase, activeFighter, activeFighterIndex, behaviourBlackstoneDice, displayManoeuverDialog, displayEventRollDialog } = storeToRefs(combat);

// const deadExplorers = computed(() => selectedSave.value.deadExplorers.map(explorerId => explorerProfiles.value[explorerId]))
// const inspiredExplorers = computed(() => selectedSave.value.inspiredExplorers.map(explorerId => explorerProfiles.value[explorerId]))

const initiativeTrackElement = ref(null);
const width = ref(10000);
const displayLeftArrow = ref(false);
const displayRightArrow = ref(false);

function updateKnownWidth(val) {
  width.value = val.width;
  console.log(width.value, displayArrows.value);
}

function updateScrollPosition(val) {
  displayLeftArrow.value = val.horizontalPercentage !== 0;
  displayRightArrow.value = val.horizontalPercentage !== 1;
  console.log(val.horizontalPosition, val.horizontalPercentage)
}

const displayArrows = computed(() => {
  return width.value < (110 * initiativeTrack.value.length);
})

function moveRight() {
  initiativeTrackElement.value.setScrollPosition('horizontal', initiativeTrackElement.value.getScrollPosition().left + 110, 300)
}

function moveLeft() {
  initiativeTrackElement.value.setScrollPosition('horizontal', initiativeTrackElement.value.getScrollPosition().left - 110, 300)
}

watch(activeFighterIndex, (newIndex) => {
  initiativeTrackElement.value.setScrollPosition('horizontal', newIndex * 110 - width.value / 2 + 60, 300)
})

</script>
<style lang="scss" scoped>
.initiative-track {
  display: flex;
  overflow: auto;

  .arrow {
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    height: 100px;
    width: 32px;
    color: white;
    align-content: center;
    text-align: center;
    cursor: pointer;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}
</style>
