<template>
  <q-dialog :value="value" persistent>
    <q-card style="width: 580px; max-width: 90vw;background-color: #e0e5e1">
      <q-card-section>
        <InfoFrame :allow-shrink="false">
          <template v-slot:title>[New round: Cover Fire and Gambits]</template>
          <template v-slot:infos>[Click on two portraits to swap their position on the initiative track.]</template>
        </InfoFrame>
      </q-card-section>
      <q-card-section class="q-mb-md">
        <transition-group name="manoeuver-list" tag="div" style="height: 60px; display: flex; justify-content: center;">
          <MiniatureFighterCard v-for="(fighter, index) in initiativeTrack" :key="fighter.id" :fighter="fighter"
            :active="index === firstSelectIndex" @click="selectForSwapping(index)" />
        </transition-group>
      </q-card-section>

      <q-card-actions style="justify-content: center;" class="q-pb-md">
        <q-btn color="primary" size="lg" @click="startActivationPhase">
          [Finish manoeuvers & start activation]
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
import MiniatureFighterCard from 'src/components/MiniatureFighterCard.vue'
import { useCombatStore } from 'src/stores/combat';
import InfoFrame from 'src/components/InfoFrame.vue';

const props = defineProps({ value: Boolean })
const emit = defineEmits(['done']);
const firstSelectIndex = ref(null)

const combatStore = useCombatStore()
const { activeFighterIndex, initiativeTrack } = storeToRefs(combatStore)
const { goToNextPhase } = combatStore;

function startActivationPhase() {
  firstSelectIndex.value = null
  emit('done');
}

function selectForSwapping(index) {
  if (firstSelectIndex.value === null) {
    firstSelectIndex.value = index
    console.log("First index:", firstSelectIndex.value)
    return
  } else {
    console.log("Swapping!")
  }
  [initiativeTrack.value[firstSelectIndex.value], initiativeTrack.value[index]] = [initiativeTrack.value[index], initiativeTrack.value[firstSelectIndex.value]]
  initiativeTrack.value = [...initiativeTrack.value]
  firstSelectIndex.value = null
}
</script>
<style lang="scss" scoped>
.manoeuver-list-move {
  transition: transform 0.3s;
}
</style>
