<template>
  <q-card class="card">
    <div class="filter" :style="backgroundStyle"></div>
    <div v-if="fighter.type === 'hostile'"
      style="color: white; position: absolute; left: 36%; top: 18%; font-size: 30px; text-shadow: 0px 0px 4px black">
      <!-- {{ fighter.group }} -->
    </div>
  </q-card>
</template>
<script setup>
import { getExplorerArt, getHostileArt } from 'src/i18n';
import { useCompendium } from 'src/stores/compendium';
import { computed } from 'vue'
import { storeToRefs } from 'pinia'

const props = defineProps({
  fighter: {
    type: Object,
    default: () => ({})
  },
  image: String,
  active: {
    type: Boolean,
    default: false
  }
})

const backgroundStyle = computed(() => {
  const border = props.active
    ? '0px 0px 5px 2px #001d36'
    : ''
  let profileId = props.fighter.profile;
  if (props.fighter.type === 'hostile' && props.fighter.profiles.length === 1) profileId = props.fighter.profiles[0];
  if (profileId.endsWith("__inspired")) profileId = profileId.slice(0, -10)

  const image = props.image ?? (props.fighter.type === 'explorer' ? getExplorerArt(profileId) : /*getHostileArt(profileId)*/ `symbols/discovery_${props.fighter.group}.png`);
  const backgroundImage = 'url(' + image + ')'

  const { styles } = storeToRefs(useCompendium());
  const style = styles.value.explorerManoeuverCards[profileId] ?? {}

  return {
    backgroundImage,
    'box-shadow': border,
    'background-position-x': 'center',
    'background-position-y': 'center',
    ...(props.fighter.type === 'hostile' ? {
      backgroundSize: '64px',
      backgroundRepeat: 'no-repeat',
    } : {}),
    ...style
  }
})

</script>
<style lang="scss" scoped>
.card {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;

  @media (max-width: $breakpoint-xs-max) {
    margin-left: 2px;
    margin-right: 2px;
    width: 48px;
  }

  width: 64px;
  height: 64px;
  cursor: pointer;

  .filter {
    position: absolute;
    width: 100%;
    height: 64px;
    background: white;
    filter: grayscale(20%) brightness(80%);
  }

  .content {
    position: flex;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);

    >* {
      position: relative;
    }
  }
}
</style>
