<template>
  <InfoFrame>
    <template v-slot:title>[Reminders:] {{ label }}</template>
    <template v-slot:infos>
      <div v-for="reminder in reminders" :key="reminder.profileId" class="q-pb-md">
        <div style="font-size: 1.1rem">{{ getProfileName(reminder.profileId) }}</div>
        <div v-for="rule in reminder.rules" :key="rule" class="q-pa-sm q-ma-sm"
          style="border: 1px solid grey; background: #dedede">
          <div style="font-size: 1rem" v-html="parseRichText(getSpecialRuleName(reminder.profileId, rule))"></div>
          <span v-html="parseRichText(getSpecialRuleDescription(reminder.profileId, rule))"></span>
        </div>
      </div>
    </template>
  </InfoFrame>
</template>
<script setup>
import { getProfileName, getSpecialRuleDescription, getSpecialRuleName } from "src/i18n";
import { parseRichText } from 'src/lib/rtf';
import InfoFrame from 'src/components/InfoFrame.vue'

const props = defineProps({
  reminders: Array,
  label: String
})

</script>
