<template>
  <q-dialog :value="value" persistent>
    <q-card style="width: 500px; max-width: 90vw; height: 600px; background-color: #e0e5e1">
      <q-card-section>
        <div class="text-h5">Event Roll</div>
      </q-card-section>
      <q-card-section>
        <div class="text-center q-mb-none">
          <BlackstoneDice :result="behaviourBlackstoneDice || '?'" />
        </div>
      </q-card-section>
      <q-card-section v-if="behaviourBlackstoneDice > 0" style="height: 380px">
        <InfoFrame :allow-shrink="false">
          <template v-slot:title>{{ $t(`encounterEvents.${eventId}.name`) }}</template>
          <template v-slot:infos><span
              v-html="parseRichText($t(`encounterEvents.${eventId}.description`))"></span></template>
        </InfoFrame>

        <InfoFrame v-if="alternativeEventRef" class="q-ma-md">
          <template v-slot:title>
            <span style="font-size: 1rem">{{ $t(`encounterEvents.${alternativeEventRef}.name`)
              }}</span>
          </template>
          <template v-slot:infos>{{ $t(`encounterEvents.${alternativeEventRef}.description`) }}</template>
        </InfoFrame>
      </q-card-section>
      <q-card-section v-else style="height: 380px"></q-card-section>
      <q-card-actions style="justify-content: center; display: flex;" class="q-pb-md">
        <q-btn color="primary" v-if="behaviourBlackstoneDice === 0" size="lg" @click="rollEvent">
          Roll
        </q-btn>
        <q-btn v-else color="primary" size="lg" @click="$emit('done')">
          Ok
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script setup>
import { ref, computed } from 'vue';
import { storeToRefs } from 'pinia';
import { useCombatStore } from 'src/stores/combat';
import i18n, { tfallback } from "src/i18n";
import { rollBlackstoneDice } from 'src/lib/dices';
import BlackstoneDice from './BlackstoneDice.vue';
import InfoFrame from 'src/components/InfoFrame.vue'
import { useCompendium } from 'src/stores/compendium';
import { parseRichText } from 'src/lib/rtf';

const props = defineProps({ value: Boolean })
const emit = defineEmits(['done']);

const combatStore = useCombatStore()
const { behaviourBlackstoneDice, currentEncounterType } = storeToRefs(combatStore);
const compendium = useCompendium();
const { encounterTypes, texts } = storeToRefs(compendium);
const { loadNewRound } = combatStore;

const { locale } = i18n.global;

const alternativeEventRef = computed(() => {
  const alternativeRef = tfallback(`encounterEvents.${eventId.value}.alternativeReference`);
  if (alternativeRef === `encounterEvents.${eventId.value}.alternativeReference`) return null;
  return alternativeRef;
})

const eventId = computed(() => {
  for (const [maxRoll, id] of Object.entries(eventRollTable.value)) {
    console.log("Table:", eventRollTable.value)
    if (behaviourBlackstoneDice.value <= Number(maxRoll)) {
      console.log("Event:", id)
      return id;
    }
  }
  return ""
})

const eventRollTable = computed(() => {
  console.log("encounter:", encounterTypes.value[currentEncounterType.value]);
  return encounterTypes.value[currentEncounterType.value].table;
})

function rollEvent() {
  behaviourBlackstoneDice.value = rollBlackstoneDice();
}

</script>
<style lang="scss" scoped></style>
