// app global css in SCSS form

// Temporary style change so I can see better
.q-page-container {
  background: #e0e5e1;
  color: black;
}

img.inline-icon {
  height: 1rem;
  padding-right: 4px;
  padding-left: 4px;
  vertical-align: text-top;
}

.roll-zone {
  background: #f5f5f5;
  border: 1px solid black;
  min-height: 65px;
  padding-left: 0px;
  padding-right: 0px;
}

.background {
  position: absolute;
  width: 100%;
  height: 110%;
  background-repeat: none;
  background-size: cover;
  z-index: -1;
}

.q-btn.q-btn--rectangle.q-btn--outline {
  background: white !important;
}

.localization-form {
  background: rgb(243, 243, 255);
  border: 1px solid rgb(206, 206, 255);
}