<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated reveal>
      <q-toolbar style="background: #101d27">
        <router-link :to="{ name: 'home' }"><img src="~assets/bf_logo.png" width="200" class="q-mt-sm" /></router-link>
        <q-toolbar-title>
          <!-- <router-link v-if="selectedSave" :to="{ name: 'home' }" style="text-decoration: none; color: white">
            {{ $t(`ui.saveStatus.${selectedSave.status}`) }}
          </router-link> -->
        </q-toolbar-title>

        <div class="flex">
          <!-- <div style="font-size: 1rem" v-if="selectedSave">{{ selectedSave.name }} <q-btn flat
              @click="exitSave">(Change)</q-btn>
          </div> -->
          <q-btn v-if="route.name !== 'managecontent'" :to="{ name: 'managecontent' }" icon="settings" flat round />
          <q-btn v-else :to="{ name: 'home' }" icon="arrow_back" flat round />
        </div>
      </q-toolbar>
    </q-header>

    <q-footer elevated>
      <q-toolbar class="row q-px-none">
        <div class="text-center roll-zone col">
          <DiceRoller type="SQUARE" />
        </div>
        <div class="text-center roll-zone col">
          <DiceRoller type="TRIANGLE" />
        </div>
        <div class="text-center roll-zone col">
          <DiceRoller type="PENTAGON" />
        </div>
        <div class="text-center roll-zone col">
          <DiceRoller type="BLACKSTONE" @roll="behaviourBlackstoneDice = $event" />
        </div>
      </q-toolbar>
    </q-footer>

    <q-page-container>
      <div
        style="position: absolute; width: 100%; height: 100%; background-image: url(background.jpeg); background-repeat: repeat;">
      </div>
      <!-- <img src="~assets/background.jpeg" /> -->
      <router-view />
      <DisclaimerDialog v-model="displayDisclaimer" />
    </q-page-container>
  </q-layout>
</template>
<script setup>
import { useCompendium } from 'src/stores/compendium'
import { storeToRefs } from 'pinia'
import { useSaveStore } from './stores/save';
import { useRouter, useRoute } from 'vue-router';
import i18n from './i18n';
import DiceRoller from 'src/components/DiceRoller.vue'
import { useCombatStore } from './stores/combat';
import DisclaimerDialog from './components/DisclaimerDialog.vue';
import { ref } from 'vue'

const router = useRouter();
const route = useRoute();
const compendium = useCompendium();
const combat = useCombatStore();
const { behaviourBlackstoneDice } = storeToRefs(combat);
const { availableLanguages, selectedLanguage } = storeToRefs(compendium)
const { selectedSave } = storeToRefs(useSaveStore());

const { locale } = i18n.global;

const displayDisclaimer = ref(true)

function exitSave() {
  selectedSave.value = null;
  router.push({ name: 'saves' })
}

function changeLocale(newLocale) {
  locale.value = newLocale
  localStorage.setItem("bfc:locale", newLocale);
}
</script>
